# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*.lacunastories.com
.DS_Store
*/.DS_Store
sites/all/modules/contrib/coder
sites/all/modules/contrib/examples
sites/all/modules/contrib/devel
sites/all/modules/contrib/devel_debug_log
sites/all/modules/contrib/profiler_builder
