; lacunastories_base make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; annotator
libraries[annotator][directory_name] = "annotator"
libraries[annotator][type] = "library"
libraries[annotator][destination] = "libraries"
libraries[annotator][download][type] = "get"
libraries[annotator][download][url] = "" ; TODO add download URI

; d3
libraries[d3][directory_name] = "d3"
libraries[d3][type] = "library"
libraries[d3][destination] = "libraries"
libraries[d3][download][type] = "get"
libraries[d3][download][url] = "" ; TODO add download URI

; htmlpurifier
libraries[htmlpurifier][directory_name] = "htmlpurifier"
libraries[htmlpurifier][type] = "library"
libraries[htmlpurifier][destination] = "libraries"
libraries[htmlpurifier][download][type] = "get"
libraries[htmlpurifier][download][url] = "" ; TODO add download URI

; mediaelement
libraries[mediaelement][directory_name] = "mediaelement"
libraries[mediaelement][type] = "library"
libraries[mediaelement][destination] = "libraries"
libraries[mediaelement][download][type] = "get"
libraries[mediaelement][download][url] = "" ; TODO add download URI

; plupload-2.1.2
libraries[plupload-2.1.2][directory_name] = "plupload-2.1.2"
libraries[plupload-2.1.2][type] = "library"
libraries[plupload-2.1.2][destination] = "libraries"
libraries[plupload-2.1.2][download][type] = "get"
libraries[plupload-2.1.2][download][url] = "" ; TODO add download URI

; showdown
libraries[showdown][directory_name] = "showdown"
libraries[showdown][type] = "library"
libraries[showdown][destination] = "libraries"
libraries[showdown][download][type] = "get"
libraries[showdown][download][url] = "" ; TODO add download URI

; tinymce
libraries[tinymce][directory_name] = "tinymce"
libraries[tinymce][type] = "library"
libraries[tinymce][destination] = "libraries"
libraries[tinymce][download][type] = "get"
libraries[tinymce][download][url] = "" ; TODO add download URI

; lacunastories_base
libraries[lacunastories_base][directory_name] = "lacunastories_base"
libraries[lacunastories_base][type] = "profile"
libraries[lacunastories_base][destination] = "../../profiles"
libraries[lacunastories_base][download][type] = "get"
libraries[lacunastories_base][download][url] = "http://ftp.drupal.org/files/projects/lacunastories_base-7.x-1.x-dev.tar.gz"

