body {
	overflow-y: scroll;
  font-family:"Open Sans",arial,sans-serif;
  color: black;
  background-color: white;
  margin: 0px;
  line-height: 30px;
}

div#page {
  min-height: 3000px !important;
}

div#network,
div#pie_types,
div#time_brush {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #eee;
}

div#dashboard-buttons {
  position: absolute;
	height: 65px;
  top: 450px;
  margin-left: 25px;
  width: 45%;
}

div.help_text {
	width: 30%;
	padding-left: 20px;
  visibility: hidden;
  float: right;
  z-index: 100 !important;
}

div#piecharts {
  padding-top: 60px;
  margin-left: 0px;
  width: 100%;
}

div#pie_types {
  position: absolute;
  margin-top: 20px;
  width: 550px;
  margin-left: 0px;
  margin-top: 25px;
  top: 500px;
  height: 225px;
}

div#time_brush {
  position: absolute;
  height: 450px;
  margin-left: 0px;
  margin-top: 0px;
  width: 550px;
}

div#network {
  position: absolute;
  left: 575px;
  width: 625px;
  max-height: 2000px;
}

#legend {
  position: absolute;
  top: 295px;
  left: 215px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  /*fill: none;*/
  stroke: steelblue;
  /*stroke-width: 1.5px;*/
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: blue;
}

h1#title {
	text-align:center;
	padding: 20px 5px 20px 15px;
	margin-left: 15px;
}

h2#warning {
	padding-bottom: 200px;
}

h2 {
  display: inline-block;
  width: 100%;
}

h3 {
  padding-top: 0px;
  margin-top: 0px;
  display: inline-block;
  margin-left: 33%;
}

.help {
  display: inline-block;
}

.help_text {
  visibility: hidden;
  width: 100%;
}

.tooltip {
    padding: 5px 25px 5px 25px;
    font: 16px sans-serif;
    background-color: white;
    border: 1px solid steelblue;
    border-radius: 8px;
    pointer-events: none;
    z-index: 100 !important;
    position: absolute;
}

div.section#annotations_table {
  position: absolute;
  top: 5000px;
}

table#annotations_table_draw, div#annotations_table_draw_wrapper {
  margin-top: 75px;
  margin-left: 25px;
  font-size: 10pt;
  visibility: hidden;
}

div#annotations_table_draw_wrapper {
	width: 95%;
}

div#annotations_table_draw_wrapper label {
	padding-left: 25px;
}

.simple_overlay .close {
    background-image:url(/media/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

div.tooltip table {
  text-rendering: optimizeLegibility;
}

.brush {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

a.dashboard-button#reset_brush {
  position: relative;
  visibility: hidden;
}

a.dashboard-button#return_to_vis {
  position: absolute;
  margin-left: 25px;
  font-size: 14pt;
  visibility: hidden;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

td.value {
  text-align: right;
  padding-left: 15px;
}
