body {
	overflow-y: scroll;
  font-family:"Open Sans",arial,sans-serif;
  color: black;
  background-color: white;
  margin: 0px;
  line-height: 30px;
}

.fa-spinner {
  position: absolute;
  top: 10%;
  left: 45%;
}

div#page {
}

div#network,
div#pie_types,
div#time_brush {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgba(250,250,250,.8);
}

.dashboard-buttons {
    position: relative;
    height: 0; /* for not taking up space */
    margin-left: 25px;
}

div.help_text {
    width: 200px;
	padding-left: 20px;
    visibility: hidden;
    float: right;
    z-index: 100 !important;
}

div#piecharts {
  padding-top: 60px;
  margin-left: 0px;
  width: 100%;
}

div#pie_types {
  width: 520px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 225px;
}

div#time_brush {
  height: 400px;
  width: 520px;
}

div#time_brush svg
{
  margin-left: 25px;
}

div#network {
  width: 625px;
  min-height: 703px;  /* for nicely alliging with left column */
  overflow: hidden;   /*prevents titles from spilling over into next column  --DMB */
}

div#legend {
  position: relative;
  top: 70px;
  left: 430px;
  height: 0;
}
div#legend svg
{
  position: absolute;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  /*fill: none;*/
  stroke: steelblue;
  /*stroke-width: 1.5px;*/
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: blue;
}

h1#title {
	text-align:center;
	padding: 20px 5px 20px 15px;
	margin-left: 15px;
}

h2#warning {
	padding-bottom: 200px;
}

h2 {
  display: inline-block;
  width: 100%;
}

h3 {
  padding-top: 0px;
  margin-top: 0px;
  display: inline-block;
    margin-left: 20px;
}

.help {
    display: inline-block;
    margin-right: 25px;
}

.help_text {
  visibility: hidden;
  width: 100%;
}

.tooltip {
    padding: 5px 25px 5px 25px;
    font: 16px sans-serif;
    background-color: white;
    border: 1px solid steelblue;
    border-radius: 8px;
    pointer-events: none;
    z-index: 100 !important;
    position: absolute;
}

div.section#annotations_table {
  margin-top: 2000px;
}

table#annotations_table_draw, div#annotations_table_draw_wrapper {
  margin-top: 75px;
  margin-left: 25px;
  font-size: 10pt;
  visibility: hidden;
}

div#annotations_table_draw_wrapper {
	width: 95%;
}

div#annotations_table_draw_wrapper label {
	padding-left: 25px;
}

/*.simple_overlay .close {*/
    /*background-image:url("/media/img/overlay/close.png");*/
    /*position:absolute;*/
    /*right:-15px;*/
    /*top:-15px;*/
    /*cursor:pointer;*/
    /*height:35px;*/
    /*width:35px;*/
/*}*/

div.tooltip table {
  text-rendering: optimizeLegibility;
}

.brush {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

a.dashboard-button#reset_brush {
  position: relative;
  visibility: hidden;
}

a.dashboard-button#return_to_vis {
  position: absolute;
  margin-left: 25px;
  font-size: 14pt;
  visibility: hidden;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

td.value {
  text-align: right;
  padding-left: 15px;
}
#dashboard {
  transform-origin: left top;
}
#dashboard a.dashboard-button
{
  min-height: 20px;
  min-width: 135px;
  width: auto;
}
#dashboard #visual-content
{
  margin-bottom: 25px;
  position: relative;
}
#dashboard #visual-content, #dashboard #visual-content tr
{
  width: 100%;
}

#dashboard #visual-content td
{
  vertical-align: top;
}

#dashboard #visual-content #right
{
    text-align: right;
    top: -20px;
    position: absolute;
    left: 650px;
}
#dashboard #visual-content #right div.right-part
{
    text-align: left;
    position: relative;
    top: 20px;
}

#dashboard div.column
{
  display: inline-block;
}
