/* Annotator Categories Plugin CSS. Some code from Zhila and some from:
https://github.com/LacunaStories/Annotation-Studio/blob/master/lib/assets/stylesheets/categories.css
-------------------------------------------------------------------- */

.annotator-categories {
    border-top: solid 1px #eee;
    cursor: pointer;
}

.annotator-categories h4{
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 5px;
}

.annotator-category {
    padding: 7px;
    background-color: #1588ba;
    opacity: .7;
    float: left;
    margin: 1px 1px 0px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    color: #fff;
}

.annotator-categories .annotator-category.selected {
    opacity: 1;
    font-style: italic;
}

.annotator-viewer .categorize-text{
    border: none;
    padding: 0 !important;
    margin-bottom: 5px;
}

.categorize-text .text-category{
    margin-right: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px 0 0 8px;
    padding:2px 4px;
}

.category-colors {
    display: block;
}

.category-colors span.category-color {
    width: 13px;
    height: 13px;
    margin-bottom: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
}
