/***
 * Annotator Categories Plugin CSS.
 * Some code from Zhila and some from Adi's original plugin
 ***/

.annotator-categories {
    border-top: solid 1px #eee;
    cursor: pointer;
}

.annotator-categories h4{
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 5px;
}

.annotator-viewer ul li .annotator-category {
    text-align: center;
    width: 33%;
}

.annotator-category {
    padding: 7px;
    background-color: rgba(255, 255, 10, .4);
    opacity: .7;
    margin: 1px 1px 0px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    color: black;
    font-weight: bold;
}

.annotator-category-selected {
    opacity: 1;
    font-style: italic;
}

.annotator-category-0 {
    background-color: rgba(0, 200, 0, .4);
}

.annotator-category-1 {
    background-color: rgba(200, 0, 0, .4);
}

.annotator-category-2 {
    background-color: rgba(0, 0, 200, .4);
}

.annotator-category-3 {
    background-color: rgba(150, 0, 150, .4);
}

.annotator-viewer .categorize-text{
    border: none;
    padding: 0 !important;
    margin-bottom: 5px;
}

.categorize-text .text-category{
    margin-right: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px 0 0 8px;
    padding:2px 4px;
}

.category-colors {
    display: block;
}

.category-colors span.category-color {
    width: 13px;
    height: 13px;
    margin-bottom: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
}
