
#annotation-filters-wrapper {
  position: fixed;
  font-size: 12px;
  border: 1px solid rgb(200, 200, 200);
  --moz-border-radius: 5px;
  --webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  /*width: 14%;*/
  min-width: 14em;
  max-width: 16em;
}

#annotation-filters {
  position: relative;
}

@media (max-width: 959px) {
  #af-pager-controls {
    font-size: xx-large;
  }
  i.af-pager {
    padding-right: 10% !important;
  }
}

@media (min-width: 960px) and (max-width: 1099px) {
  #af-pager-controls {
    font-size: large;
  }
  i.af-pager {
  }
}

@media (max-height: 768px) {
  #annotation-filters {
    top: 20%;
  }
}

@media (min-width: 1100px) {
}

section.region-sidebar-second h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

section.region-sidebar-second input[type="checkbox"] {
  margin: 10% 5% 10% 20%;
}

#af-active {
  text-align: center;
}

.region-sidebar-second div#block-block-1 {
  background-color: transparent;
  border: none;
}

.af-title {
  margin-left: 50px;
  font-weight: bold;
}

.af-button {
  cursor: pointer;
  display: inline-block;
  color: black;
  padding: 0px;
  margin: 0px 6px 15px 6px;
  text-align: center;
  font-variant: small-caps;
  width: 25%;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #92a6c4;
  background-image: linear-gradient(to bottom, #92a6c4, #39404a);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  margin-right: 5px;
}

.af-button:hover {
  background-color: #39404a;
}

.af-button-active:hover {
  background-color: #88b551;
  color: #FFFFFF;
  background-position: 0 -15px;
  text-decoration: none;
  transition: background-position 0.1s linear 0s;
}

.af-button-active {
  background-color: #c4df2c;
  background-image: linear-gradient(to bottom, #c4df2c, #88b551);
}

#af-button-reset {
  width: 90%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.af-annotation-hide {
  background-color: transparent !important;
}

#af-button-user {
}

.af-filter-active {
  display: block;
  text-transform: capitalize;
  width: 100%;
  padding-left: 10%;
  cursor: pointer;
}

.af-wrapper {
  white-space: nowrap;
  width: 100%;
}

#af-filter-active {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}

label.af-autocomplete-label {
  display: inline-block !important;
  text-align: right;
  width: 35%;
  padding-right: 5px;
  font-weight: normal;
  font-size: 9pt;
}

label.af-autocomplete-label:first-letter {
  text-transform: capitalize;
}

input.af-autocomplete.ui-autocomplete-input {
  display: inline-block;
  width: 60%;
}

#af-pager-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#af-pager-controls {
  padding-left: 20px;
  width: 100%;
}

#af-pager-count {
  text-align: center;
  display: block;
}

i.af-pager {
  cursor: pointer;
  margin-right: 20%;
}
