/***
 * Annotator Privacy Plugin CSS.
 *
 ***/

.annotator-item label.privacy {
  width: 95%;
  padding-left: 5%;
  display: block;
}
.annotator-item label.privacy.groups {
  display: none;
  padding-left: 10%;
  width: 90%;
}
