.annotator-viewer div:first-of-type.richText-annotation *,
.annotator-viewer div:first-of-type.richText-annotation{
	font-style: normal;
	font-weight: inherit;
	text-align: inherit;
}
.annotator-viewer div:first-of-type.richText-annotation{
	padding-top: 22px;
}

/* Fix in the tinymce */
.annotator-viewer div:first-of-type.richText-annotation strong{
	font-weight: bold;
}
.annotator-viewer div:first-of-type.richText-annotation em{
	font-style: italic;
}

.mceEditor {
	z-index:3000000000!important; /*To fix full-screen problems*/
}


/* Some change in the design of Annotator */
.annotator-editor .annotator-widget{
	min-width: 400px;
}

/* Fix to show icons */
.annotator-editor a:after {
	content: none;
}

.mceSeparator {
	display: none !important;
}

table.mceLayout {
	width: 100%;
}
