/*  Tag autocomplete box set to 10 lines tall with scroll
*   activated for overflow.
*/
.ui-autocomplete {
  height: 10em;
  overflow: scroll;
}

.ui-autocomplete-category {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: small;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.annotator-tags-item {
  font-size: smaller;
}