.form-field-name-field-unregistered-students { display: none; }
.page-createcourse-4 .biblio-form {
  display: none;
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 3px;
  margin-top: 30px;
}
.page-createcourse-4 .selected { background-color: rgba(22,147,165,0.2); }
.page-createcourse-4 #e-access, .page-createcourse-4 #studynet, .page-createcourse-4 #archived-materials {
  padding: 10px;
  margin-bottom: 10px;
}
.page-createcourse-4 .form-submit {
  margin-top: 10px;
  width: 200px;
}
.page-createcourse-4 button a { color: #FFF !important; }
