/*	Annotator CSS styles – migrated from annotator/css  */

.annotator-viewer div {
    border: none;
}

// For our pseudo-buttons: Categories and Privacy
.annotator-item.fa-folder-o:before,
.annotator-item.fa-lock:before {
    padding-left: 5px;
    padding-right: 5px;
}

.annotator-category, .annotator-privacy-type {
    padding: 1px 5px 1px 5px;
    margin: 1px 1px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: black;
    display: inline-block;
}

/* ----------------------------------------------------------------
*	Categories styles
*	from annotator/css/categories.css
*
*
*/

$button-default: rgba(22,147,165, .2);
$button-selected: rgba(196,223,44,1);

.annotator-categories {
    border-top: solid 1px #eee;
}

.annotator-category:hover {
    cursor: pointer;
}

.annotator-categories h4{
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 5px;
}

.annotator-viewer ul li .annotator-category {
    text-align: center;
    width: 33%;
}

.annotator-category {
    background-color: $button-default;
}

.annotator-category-none {

}

.annotator-category-0,
.annotator-category-1,
.annotator-category-2,
.annotator-category-3,
.annotator-category-4,
.annotator-category-5,
.annotator-category-6,
.annotator-category-7
{
    background-color: $button-default;
}

.annotator-category-selected {
    background-color: $button-selected !important;
}


/* ----------------------------------------------------------------
*	Comment styles
*	from annotator/css/comment.css
*/

.annotator-comment {
    display: block !important;
    width: 100%;
}


/* ----------------------------------------------------------------
*	Filters styles
*	from annotator/css/filters.css
*/

#annotation-filters-wrapper {
    position: fixed;
    font-size: 12px;
    border: 1px solid rgb(200, 200, 200);
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    width: 15em;
}

#annotation-filters {
    position: relative;
}

section.region-sidebar-second h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

section.region-sidebar-second input[type="checkbox"] {
    margin: 10% 5% 10% 20%;
}

#af-active {
    text-align: center;
}

.region-sidebar-second div#block-block-1 {
    background-color: transparent;
    border: none;
}

.af-title {
    margin-left: 50px;
    font-weight: bold;
}

.af-button {
    cursor: pointer;
    display: inline-block;
    color: black;
    padding: 0px;
    margin: 0px 6px 15px 6px;
    text-align: center;
    font-variant: small-caps;
    width: 25%;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-color: #92a6c4;
    background-image: linear-gradient(to bottom, #92a6c4, #39404a);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    margin-right: 5px;
}

.af-button:hover {
    background-color: #39404a;
}

.af-button-active:hover {
    background-color: #88b551;
    color: #FFFFFF;
    background-position: 0 -15px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.af-button-active {
    background-color: #c4df2c;
    background-image: linear-gradient(to bottom, #c4df2c, #88b551);
}

#af-button-reset {
    width: 90%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.af-annotation-hide {
    background-color: transparent !important;
}

#af-button-user {
}

.af-filter-active {
    display: block;
    text-transform: capitalize;
    width: 100%;
    padding-left: 10%;
    cursor: pointer;
}

.af-wrapper {
    white-space: nowrap;
    width: 100%;
}

#af-filter-active {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

label.af-autocomplete-label {
    display: inline-block !important;
    text-align: right;
    width: 35%;
    padding-right: 5px;
    font-weight: normal;
    font-size: 9pt;
}

label.af-autocomplete-label:first-letter {
    text-transform: capitalize;
}

input.af-autocomplete.ui-autocomplete-input {
    display: inline-block;
    width: 60%;
}

#af-pager-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#af-pager-controls {
    padding-left: 20px;
    width: 100%;
}

#af-pager-count {
    text-align: center;
    display: block;
}

i.af-pager {
    cursor: pointer;
    margin-right: 20%;
}


/* ----------------------------------------------------------------
*	Privacy styles
*	from annotator/css/privacy.css
*
*	Annotator Privacy Plugin CSS
*/

/***
* Annotator Privacy Plugin CSS.
*
***/

$privacy-default: rgba(228, 0, 0, 0.2);
.annotator-privacy-types {
    padding: 0px !important;
    font-size: 12px;
    margin-left: 2px;
}

.annotator-viewer {
//div.annotator-privacy {
//  height: 0px;
//}
.annotator-privacy-type {
    padding: 6px;
    display: inline-block;
//top: -2.5em;
//position: relative;
//margin-left: 40%;
width: 33%;
text-align: center;
}
}

.annotator-privacy-types .annotator-privacy-type {
    background-color: $privacy-default;
}

.annotator-privacy-types .annotator-privacy-type.checked {
    background-color: $button-selected;
}

.annotator-privacy-everyone {
    background-color: rgba(51, 255, 51, .2) !important;
}

.annotator-privacy-private {
    background-color: rgba(255, 0, 51, .2) !important;
}

form.annotator-widget .annotator-privacy-groups {
    display: none;
}
form.annotator-widget .annotator-privacy-groups.show-groups {
    display: block;
}
label.annotator-privacy-group {
    width: 95%;
    margin-left: 5%;
    display: inline-block;
}

.annotator-viewer .annotator-privacy-group.checked {
    padding: 6px;
    margin: 1px 1px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
}
.annotator-viewer .annotator-privacy-group.peer-groups.checked {
    background-color: $button-selected;
}
.annotator-viewer .annotator-privacy-group.course-groups.checked {
    background-color: $button-default;
}


/* ----------------------------------------------------------------
*	Rich Text Annotator styles
*	from annotator/css/richText-annotator.css
*/

.annotator-viewer div:first-of-type.richText-annotation *,
.annotator-viewer div:first-of-type.richText-annotation{
    font-style: normal;
    font-weight: inherit;
    text-align: inherit;
}
.annotator-viewer div:first-of-type.richText-annotation{
    padding-top: 22px;
}

/* Fix in the tinymce */
.annotator-viewer div:first-of-type.richText-annotation strong{
    font-weight: bold;
}
.annotator-viewer div:first-of-type.richText-annotation em{
    font-style: italic;
}

.mceEditor {
    z-index:3000000000!important; /*To fix full-screen problems*/
}


/* Some change in the design of Annotator */
.annotator-editor .annotator-widget{
    min-width: 300px;
}

/* Fix to show icons */
.annotator-editor a:after {
    content: none;
}

.mceSeparator {
    display: none !important;
}

table.mceLayout {
    /* !important because TinyMCE theme sets its own value */
    width: 100% !important;
}

table.mceToolbar {
    display: inline-table;
}

.mceEditor.defaultSkin td.mceToolbar {
    /* Shrink the toolbar to a decent height */
    line-height: 10px;
}


/* ----------------------------------------------------------------
*	Rich Text styles
*	from annotator/css/richtext.css
*/

/* Fix to show icons */
.annotator-editor a:after {
    content: none;
}


/* ----------------------------------------------------------------
*	Style styles (?)
*	from annotator/css/style.css
*/

.annotator-editor .annotator-widget .annotator-listing .annotator-item {
    line-height: 2.5em;
}

.annotator-notice,
.annotator-filter *,
.annotator-widget * {
    /*font-family: inherit !important;*/
}

/***
*
* Next rule overrides the "style='display: none'"
* that gets added *inline* to our annotator-checkbox element
* by some well-hidden piece of code that I've not been able to track down
*
* Mike Widner <mikewidner@stanford.edu>
*
***/
li.annotator-checkbox[style] {
    display: block !important;
}


/* ----------------------------------------------------------------
*	Tags styles
*	from annotator/css/tags.css
*/

.ui-autocomplete-category {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: small;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.annotator-tags-item {
    font-size: smaller;
}

#annotation-filters-wrapper {
    background-color: #eff;
    box-shadow: 2px 2px 5px gray;
    z-index: 1;
}

.annotator-item-quote span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a58129;
    font-family: Georgia, serif;
}

.annotator-item-quote button {
    font-size: 14px;
    line-height: 44px;
    margin-top: -13px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #a58129;
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}

.annotator-button::after {
    background-repeat: no-repeat;
}

.annotator-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    padding: 0 6px 0 22px;
    color: rgb(54, 54, 54);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-decoration: none;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(162, 162, 162);
    background-color: rgb(212, 212, 212);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgb(245, 245, 245)),
        color-stop(0.5, rgb(210, 210, 210)),
        color-stop(0.5, rgb(190, 190, 190)),
        to(rgb(210, 210, 210))
        );
    background-image: -moz-linear-gradient(
        -90deg,
        rgb(245, 245, 245),
        rgb(210, 210, 210) 50%,
        rgb(190, 190, 190) 50%,
        rgb(210, 210, 210)
        );
    background-image: -webkit-linear-gradient(
        -90deg,
        rgb(245, 245, 245),
        rgb(210, 210, 210) 50%,
        rgb(190, 190, 190) 50%,
        rgb(210, 210, 210)
        );
    background-image: linear-gradient(
        to bottom,
        rgb(245, 245, 245),
        rgb(210, 210, 210) 50%,
        rgb(190, 190, 190) 50%,
        rgb(210, 210, 210)
        );
    -webkit-box-shadow:
    inset 0 0 5px rgba(255, 255, 255, 0.2),
    inset 0 0 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow:
    inset 0 0 5px rgba(255, 255, 255, 0.2),
    inset 0 0 1px rgba(255, 255, 255, 0.8);
    -o-box-shadow:
    inset 0 0 5px rgba(255, 255, 255, 0.2),
    inset 0 0 1px rgba(255, 255, 255, 0.8);
    box-shadow:
    inset 0 0 5px rgba(255, 255, 255, 0.2),
    inset 0 0 1px rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.annotator-button::after {
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -7px;
    background-position: 0 -90px;
}

.annotator-button:hover,
.annotator-button:focus,
.annotator-button.annotator-focus {
    outline: none;
    border-color: rgb(67, 90, 160);
    background-color: rgb(56, 101, 249);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgb(118, 145, 251)),
        color-stop(0.5, rgb(80, 117, 251)),
        color-stop(0.5, rgb(56, 101, 249)),
        to(rgb(54, 101, 250))
        );
    background-image: -moz-linear-gradient(
        -90deg,
        rgb(118, 145, 251),
        rgb(80, 117, 251) 50%,
        rgb(56, 101, 249) 50%,
        rgb(54, 101, 250)
        );
    background-image: -webkit-linear-gradient(
        -90deg,
        rgb(118, 145, 251),
        rgb(80, 117, 251) 50%,
        rgb(56, 101, 249) 50%,
        rgb(54, 101, 250)
        );
    background-image: linear-gradient(
        to bottom,
        rgb(118, 145, 251),
        rgb(80, 117, 251) 50%,
        rgb(56, 101, 249) 50%,
        rgb(54, 101, 250)
        );
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
}

.annotator-button:hover::after,
.annotator-button:focus::after {
    margin-top: -8px;
    background-position: 0 -105px;
}

.annotator-button:active {
    border-color: rgb(112, 12, 73);
    background-color: rgb(209, 46, 142);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgb(252, 124, 202)),
        color-stop(0.5, rgb(232, 93, 178)),
        color-stop(0.5, rgb(209, 46, 142)),
        to(rgb(255, 0, 156))
        );
    background-image: -moz-linear-gradient(
        -90deg,
        rgb(252, 124, 202),
        rgb(232, 93, 178) 50%,
        rgb(209, 46, 142) 50%,
        rgb(255, 0, 156)
        );
    background-image: -webkit-linear-gradient(
        -90deg,
        rgb(252, 124, 202),
        rgb(232, 93, 178) 50%,
        rgb(209, 46, 142) 50%,
        rgb(255, 0, 156)
        );
    background-image: linear-gradient(
        to bottom,
        rgb(252, 124, 202),
        rgb(232, 93, 178) 50%,
        rgb(209, 46, 142) 50%,
        rgb(255, 0, 156)
        );
}

.annotator-button.annotator-save::after {
    background-position: 0 -120px;
}

.annotator-button.annotator-save::after,
.annotator-button.annotator-save:focus::after,
.annotator-button.annotator-save.annotator-focus::after {
    margin-top: -8px;
    background-position: 0 -135px;
}


/* Highlighter Selection Styles */

.annotator-selection-handle {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    padding: 0;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    /* Removes the tap outline on elements that have bound touch events */
    -webkit-tap-highlight-color: transparent;
}

.annotator-selection-handle::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -5px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.annotator-selection-start::after {
    top: -5px;
    bottom: auto;
    background-position: 0 -20px;
}

.annotator-selection-hide .annotator-selection-handle {
    display: none;
}

/* Annotation histogram styles */
.annotation-histogram-bar {
    opacity: .5;
    stroke: #1693A5;
    stroke-opacity: .5;
    stroke-width: 1;
}

/* For vertical alignment */
#annotation-histogram-wrapper {
    position: fixed;
    margin-left: 1em;
    svg {
        position: relative;
    }
}

/* For Author plugin */
.annotator-author {
    display: block;
}

/* For CKEditor plugin */
.annotator-editor .cke {
    z-index: 10000 !important;
}

/* For CKEditor plugin */
.annotator-editor .cke {
    z-index: 10000 !important;
}

