@import "init";

$link-color: #1588ba;
$link-color-hover: #094762;
//$bg-color: #F8F8F8;
//$bg-color: #eee;
$bg-color: white;

body {
  // font-family defined in _init
  background-color: $bg-color;
  line-height: 1.5em;
  box-shadow: none;

  //  added min window width
  min-width: 600px;
}

/*  Adds 5em margins to left and right of document
*   article page body text.
*/
article.node {
  padding-bottom: 2em;
  padding-top: 2em;
  .field,
  .form-item,
  .form-actions,
  header,
  fieldset
  {
    margin-left: 5em;
    margin-right: 5em;
  }
  fieldset .field {
    margin-left: 0;
    margin-right: 0;
  }
  section#comments h2 {
    margin-left: 2.5em;
  }
}

article.node-document {
  .field-type-text-long {
    min-height: 800px;
  }
}

#name-and-slogan {
  font-size: 1em;
}

#logo {
}

#name-and-slogan span {
  color: gray;
}

.header__name-and-slogan {
  /*
  *   Changed from
  *     float: none !important;
  *     margin-top: 50px;
  *   as part of making header menus work on smaller window widths.
  */
}

#site-name {
  font-size: 1.5em;
}

#name-and-slogan #site-name a, #name-and-slogan #site-name a:hover {
  text-decoration: none;
  font-weight: normal;
}


#main {
  /*
  *   Changed from
  *     padding-top: 0px !important;
  *     top: -50px !important;
  *   as part of making header menus work on smaller window widths.
  */
  padding-top: 1rem;

}

#page {
  max-width: 1200px;
  padding: 15px;
  margin: auto;
  position: relative;
  background-color: $bg-color;
  box-shadow: none;
  padding-bottom: 100px;
  //  added to remove gutter on the right at some smaller window
  //  resize positions
  overflow-x: hidden;
}

#subtitle {
  /*
  *   Added as part of making header menu work on smaller screens.
  */
  padding-left: 10px;
  #course-name {
    display: block;
    font-size: medium;
  }
}

b {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: x-small;
  top: -0.3em;
  padding-left: .2em;
}

p {
  margin-bottom: 10px;
}

article.node {
  text-align: justify;
  font-family: $base-serif-font-family;
  font-size: 18px;
  line-height: 1.5em;
  background-color: $bg-color;
  border: solid 1px gray;
  box-shadow: 0px 0px 10px #888888;
  margin-top: 1.5em;
}

/* fix to avoid drop down menu overwrite of message pane */
div.messages {
  margin-top: 40px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base-font-family;
  line-height: 1.3em;
}

h1{
  font-size: 1.5em;
  margin-bottom: 10px;
}
h2{
  font-size: 1.4em;
  margin-bottom: 10px;
}
h3{
  font-size: 1.3em;
  margin-bottom: 10px;
}
h4{
  font-size: 1.2em;
  margin-bottom: 10px;
}
h5{
  font-size: 1.1em;
  margin-bottom: 10px;
}
dt{
  margin-top: 10px;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color-hover;
}

label {
  margin-bottom: 10px;
}
input {
  max-width: 100%;
}
input[checked='checked'] {
  background-color: blue;
}

td.active {
  background-color: white;
}

#page-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.breadcrumb {
  display: none;
}

.form-item {
  margin-top: 30px;
}
