@import "init";

#edit-submit {
  width: auto;
}

// Ensure our styles get shown
// Overwriting rules in _normalize
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: normal !important;
  -moz-appearance: normal !important;
  -webkit-appearance: normal !important;
}

.media-widget .button,
.lacuna-button,
.form-submit,
.page-turner-bookmark-button,
.af-button-large,
a.group.subscribe,
a.group.unsubscribe,
div.toboggan-unified #login-links a,
body.not-logged-in div.field-name-group-group,
input#edit-actioncourse-registration-approve,
input#edit-actioncourse-registration-block,
input[id^='edit-actionsewing-kit-stitch'],
input[id^='edit-actionviews-data-export-action-csv-export'],
input[value='Save'],
.toboggan-unified div#login-links a.lt-active
{
  background-color: #a5cc29; // #c4df2c;
  background-image: linear-gradient(to bottom, #a5cc29, #94b725); // #c4df2c, #88b551);
  background-repeat: repeat-x;
  // border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  color: #FFFFFF;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  // border-radius: 4px 4px 4px 4px;
  border-radius: 2px;
  // border-style: solid;
  border-width: 1px;
  // box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  // font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 6px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  width: 135px;
  margin-right: 5px;

  text-transform: uppercase;
  // font-variant: small-caps;
  font-size: 11px;
  letter-spacing: .5px;// .7px;
  font-family: $base-font-family;
}
.vbo-table-select-all-pages.form-submit {
  width: 200px;
}

.page-turner-bookmark-button
{
  background-color: #1485b7; // #78cefd;
  background-image: linear-gradient(to top, #1485b7, #1174a0);

  //background-color: #FFFFFF;
  // background-image: none;
  // color: #1485b7;
  // background-color: #FFFFFF;
  // -webkit-box-shadow:inset 0px 0px 0px 1.5px #1485b7;
  // -moz-box-shadow:inset 0px 0px 0px 1.5px #1485b7;
  // box-shadow:inset 0px 0px 0px 1.5px #1485b7;
}

.page-turner-bookmark-button:focus,
.page-turner-bookmark-button:hover 
{
  background-color: #1174a0;
  background-position: 0 20px;
  transition: background-color ease-in 0s;
  // color: #FFFFFF;
}

.page-turner-bookmark-button:active {
  background-color: #0f6389;
  background-position: 0 30px;
  transition: background-color ease-in 0s;
}

.lacuna-button:hover,
.lacuna-button:focus,
.media-widget .button:hover,
.media-widget .button:focus,
// .page-turner-bookmark-button:hover,
// .page-turner-bookmark-button:focus,
.form-submit:hover,
.form-submit:focus,
.af-button-large:hover,
.af-button-large:focus,
a.group.subscribe:hover,
a.group.unsubscribe:hover,
body.not-logged-in div.field-name-group-group:hover,
input#edit-actioncourse-registration-approve:hover,
input#edit-actioncourse-registration-block:hover,
input[id^='edit-actionsewing-kit-stitch']:hover,
input[id^='edit-actionsewing-kit-stitch']:focus,
input[id^='edit-actionviews-data-export-action-csv-export']:hover,
input[id^='edit-actionviews-data-export-action-csv-export']:focus,
input[value='Save']:hover,
input[value='Save']:focus,
.toboggan-unified div#login-links a.lt-active:hover,
.toboggan-unified div#login-links a.lt-active:focus
{
  background-color: #94b725; // #88b551;
  color: #FFFFFF;
  background-position: 0 -20px;
  text-decoration: none;
  transition: background-color ease-in 0s; // background-position 0.1s linear 0s;
  outline: none;
}

.media-widget .button:active,
.lacuna-button:active,
.form-submit:active,
.page-turner-bookmark-button:active,
.af-button-large:active,
a.group.subscribe:active,
a.group.unsubscribe:active,
div.toboggan-unified #login-links a:active,
body.not-logged-in div.field-name-group-group:active,
input#edit-actioncourse-registration-approve:active,
input#edit-actioncourse-registration-block:active,
input[id^='edit-actionsewing-kit-stitch']:active,
input[id^='edit-actionviews-data-export-action-csv-export']:active,
input[value='Save']:active,
.toboggan-unified div#login-links a.lt-active:active {
  background-color: #83a220;
  background-position: 0 -50px;
  transition: background-color ease-in 0s;
  outline: none;
}

.lacuna-button.lacuna-button-blue,
.page-turner-bookmark-add,
.toboggan-unified div#login-links a:not(.lt-active)
 {
  background-color: #19a7e5; // #78cefd;
  background-image: linear-gradient(to bottom, #19a7e5, #1485b7); // #78cefd, #1485b7);
  // font-weight: normal;
  // color: #FFFFFF;

  // -webkit-box-shadow: none;
  // -moz-box-shadow: none;
  // box-shadow: none;
}
.lacuna-button.lacuna-button-blue:hover,
.lacuna-button.lacuna-button-blue:focus,
.page-turner-bookmark-add:hover,
.page-turner-bookmark-add:focus,
.toboggan-unified a:hover:not(.lt-active),
.toboggan-unified a:focus:not(.lt-active)
{
  background-color: #1485b7;
  background-position: 0 -20px;
  transition: background-color ease-in 0s;
}

.page-turner-bookmark-add:active {
  background-color: #1274a0;
  background-position: 0 -30px;
  transition: background-color ease-in 0s;
}

.toboggan-unified div#login-links a.lt-active {
  font-size: large;
  width: auto;
  padding: 10px;
}

@media only screen and (max-width: 540px) {

  .toboggan-unified div#login-links {
    
    margin: 40px 0;

    a.login-link {
      display: block;
      margin: 10px auto;
      width: 100%;
      box-sizing: border-box;
    }

  }

  #login-form,
  #register-form {

    font-size: .75em;

    .description {
      line-height: 1.5;
      margin-top: 1em;
    }

  }

}

.lacuna-button a {
  color: #FFFFFF;
}

.lacuna-button-short {
  width: auto !important;
  font-size: default !important;
}

.form-submit,
input[id^='edit-actionsewing-kit-remove'] {
  background-color: #5f6677; // #92a6c4;
  background-image: linear-gradient(to bottom, #747c92, #5f6677); // #92a6c4, #39404a);
}

@media (max-width: 540px) {
  #register-form .form-submit {
    width: 175px
  }
}

.form-submit:hover,
.form-submit:focus,
input[id^='edit-actionsewing-kit-remove']:hover,
input[id^='edit-actionsewing-kit-remove']:focus{
  background-color: #5f6677; // #39404a;
}
.form-submit:active,
input[id^='edit-actionsewing-kit-remove']:active {
  background-color: #545a69;
}

#response-node-form #edit-body-und-0-format,
#comment-form #edit-comment-body-und-0-format{
  display: none;
}

.publish-button {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

// Display flag actions as buttons
.view-curate-tags {
  .flag-link-toggle {
    @extend .lacuna-button;
    @extend .lacuna-button-short;
  }
  .unflag-action {
    @extend .lacuna-button-blue;
    @extend .lacuna-button-short;
  }
  .flag-action {
  }
}

