

.field {
  margin-bottom: 30px;
}
.field-label {
  margin-bottom: 10px;
}
.submitted {
  font-style: italic;
  font-size: 0.9em;
}

#comments {
  margin-top: 40px;
}
#comments .title {
  margin-top: 40px;
}

.node div.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

#signup {
  background-image: none;
  text-align: center;
}

/***
 * Styling for jQuery autocomplete drop-downs in Annotator window only
 * A bit fragile because it relies on the Tags autocomplete being the first
 * of those UI elements to be added to the page
 * Unsure how to add a unique id to the element that we set - MLW
 ****/
ul#ui-id-1.ui-autocomplete {
  padding-top: 50px;
}

// For user profiles, particularly the date of birth field
legend span.fieldset-legend {
  font-weight: bold;
}

// Hide the "Username's blog" text on responses
li.blog_usernames_blog {
  display: none !important;
}
