

.field {
  margin-bottom: 30px;
}
.field-label {
  margin-bottom: 10px;
}
.submitted {
  font-style: italic;
  font-size: 0.9em;
}

#comments {
  margin-top: 40px;
}
#comments .title {
  margin-top: 40px;
}

.node div.content {
  margin-top: 20px;
  margin-bottom: 20px;
}
