@import "init";

.field {
  margin-bottom: 30px;
}
.field-label {
  margin-bottom: 10px;
}


#comments {
  margin-top: 40px;
}
#comments .title {
  margin-top: 40px;
}

.node div.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

#signup {
  background-image: none;
  text-align: center;
}

/***
 * Styling for jQuery autocomplete drop-downs in Annotator window only
 * A bit fragile because it relies on the Tags autocomplete being the first
 * of those UI elements to be added to the page
 * Unsure how to add a unique id to the element that we set - MLW
 ****/
ul#ui-id-1.ui-autocomplete {
  padding-top: 50px;
}

// Hide the "Username's blog" text on responses
li.response_usernames_response {
  display: none !important;
}

// Hide the "Text Format" stuff when creating a thread
fieldset#edit-thread-description-format {
  display: none;
}

/*  Styles for Response header with user information.
*/

.response-user-information {
  height: 275px;

  .user-picture {
    margin-right: 3em;
    margin-bottom: 1em;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  .username-and-date {
    font-family: $lacuna-header-font;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    .username {

      font-size: xx-large;
      font-weight: bold;
      text-decoration: none;
      color: #000000;
      line-height: 150%;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
    }

    .username:hover {
      color: #999999;
    }

    .response-title {
      font-family: $lacuna-header-font;
      color: #1588BA;
      text-transform: uppercase;
      font-size: 1.8em;
      line-height: 1.2em;
      letter-spacing: -.02em;
      max-height: 155px;
      overflow: scroll;
    }

    .date {

      font-size: large;

    }
  }
}

@media only screen and (max-width : 1024px) {
  .response-user-information {
    .user-picture {
    margin-right: 3em;
    margin-bottom: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    top: 0;
    }
    .username-and-date {
      float: left;
      margin-bottom: 25px;
      top: 0;
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
    }
    .response-title {
      max-height: none;
      overflow: inherit;
    }
  }
}

// Ensure that the response shows up beneath the user information
.node-response .field-name-body {
  padding-top: 25px;
}

// The XX reads statistic
li.statistics_counter {
  float: right;
  margin-bottom: 1em;
  margin-right: 2em;
}

#document-authors {
  font-weight: normal;
  font-size: .75em;
  text-transform: none;
  color: #000000;
}

li.comment_forbidden {
  margin-left: 5%;
}