/*views fluid grid styling for enrolled courses view*/
.views-fluid-grid-item {
	background-color: #fafafa !important;
	border: 1px solid #e1e1e1 !important;
	-webkit-transition: all 1s ease;
	padding-bottom: 20px !important;
}

li.views-fluid-grid-inline.views-fluid-grid-item.views-row:hover {
	box-shadow: 0px 0px 10px 0px black;
}


.course-views-image {
	img {
		width: 100%;
		border: 1px solid #e1e1e1;
		border-bottom: 2px solid rgba(16,15,15,0.49);
	}
}


.view-courses {
	.views-field-php {
		position: relative;
		padding-left: 10px;
			h3 {
				font-family: "Source sans pro", sans-serif;
			}
	}
	.views-field-field-course-year {
		padding-left: 10px;
		padding-top: 10px;
	}
	.views-field-field-course-id {
		padding-left: 10px;
		padding-bottom: 10px;
	}
	.views-field-field-name {
		padding-left: 10px;
		padding-bottom: 10px;
		position: relative;
		font-weight: 600;
		font-family: "Source Sans Pro", sans-serif;
	}
	.views-field-body {
		padding-left: 10px;
		position: relative;
		font-family: "Source Sans Pro", sans-serif;
	}
}

/*styling for front page banner*/
@media (min-width:1200px) { .banner-wrapper {
    height: 400px;
    /*width: 100%;*/
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);
    width: 300%;
    margin-left: -36.5%;

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    width: 30%;
    min-width: 400px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(40%, 20%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}

.annotating {
    /*padding-bottom: 20px;*/
}

.ls-button {
    padding: 18px 20px;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(http://s4.postimg.org/o8uky8ixp/Screenshot_2015_08_11_16_29_19.png);
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    transform: translatex(-501%);
    box-shadow: 0px 0px 5px 0 black;
}
body {
	overflow-x: hidden;
}
}

@media (max-width: 1199px) and (min-width: 915px) {
	.banner-wrapper {
    height: 400px;
    width: 100%;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    width: 30%;
    min-width: 400px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(20%, 20%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}

.annotating {
    /*padding-bottom: 20px;*/
}

.ls-button {
    padding: 18px 20px;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(http://s4.postimg.org/o8uky8ixp/Screenshot_2015_08_11_16_29_19.png);
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    /*transform: translatex(-35%);*/
    box-shadow: 0px 0px 5px 0 black;
}
}

@media (max-width: 915px){
	.banner-wrapper {
    height: 400px;
    width: 100%;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    /*width: 30%;
    min-width: 400px;*/
    position: relative;
    top: 0;
    left: 0;
    transform: translate(25%, 15%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}

.annotating {
    /*padding-bottom: 20px;*/
}

.ls-button {
    padding: 18px 20px;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    /*float: right;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-image: url(http://s4.postimg.org/o8uky8ixp/Screenshot_2015_08_11_16_29_19.png);
    background-size: cover;
    background-position: center;
    position: relative;
    right: 0;
    /*transform: translatex(-35%);*/
    /*box-shadow: 0px 0px 5px 0 black;*/
    display: none;
}
}

@media (max-width: 540px) {
.banner-wrapper {
    height: 250px;
    width: 100%;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 50%);
}

.lacuna-stories-about {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
    /*position: relative;
    top: 40%;*/
}

.lacuna-stories-image {
	display: none;
}

.ls-button {
	display: none;
}

.annotating span {
	font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    color: #000000;
    line-height: 20px;
}
}
