@import "init";

/*moving course title to top of page*/
.course-name {
    position: relative;
    top: -100px;
}

/*views fluid grid styling for enrolled courses view*/
.views-fluid-grid-item {
	background-color: #fafafa !important;
	border: 1px solid #e1e1e1 !important;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
	padding-bottom: 20px !important;
}

li.views-fluid-grid-inline.views-fluid-grid-item.views-row:hover {
	box-shadow: 0px 0px 10px 0px black;
}

@media only screen and (max-width: 540px) {

  .views-fluid-grid-item {
    width: auto !important;
    margin: 1em 0 !important;
    box-shadow: none !important;
    height: auto !important;
  }

}

.views-field-field-course-image {
		height: 175px;
		border: 1px solid #e1e1e1;
		border-bottom: 2px solid rgba(16,15,15,0.49);
    overflow:hidden;
    padding: 0 !important;
    .course-views-image {
      img {
        height:180px;
        width: auto;
      }
    }
	}



.view-courses {
  .views-field {
    padding: 5px;
    font-family: "Source sans pro", sans-serif;
  }
  .views-field-title {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .views-field-field-name,
  .views-field-body {
    position: relative;
  }
  .views-field-field-course-year,
  .views-field-field-course-id {
    font-size: 0.9em;
  }
  .views-field-field-course-id,
  .views-field-field-name {
    padding-bottom: 10px;
  }
  .views-field-field-name {
    font-weight: 600;
  }
  .views-field-body {
    line-height: 1.2em;
  }
}

/*styling for front page banner*/
@media (min-width:850px) { .banner-wrapper {
    height: 400px;
    /*width: 100%;*/
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 99%);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

}

.lacuna-stories-about {
    /*border: 1px solid black;*/
    width: 30%;
    min-width: 400px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(30%, 20%);
    -webkit-transform: translate(30%, 20%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
}


.ls-button {
    padding: 18px 20px;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 400px;
    width: 50%;
    background-image: url(../images/bannerimage.png);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

body {
	overflow-x: hidden;
}


#page {
    overflow-x: visible !important;
}


}

/*@media (max-width: 1199px) and (min-width: 965px) {
	.banner-wrapper {
    height: 400px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #8FA3B6;
    background-image: linear-gradient(to right, #8FA3B6, #FCFCFC 99%);
  }

  .lacuna-stories-about {
    /*border: 1px solid black;
    width: 30%;
    min-width: 400px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(10%, 20%);
    -webkit-transform: translate(10%, 20%);
    float: left;
    vertical-align: baseline;
  }

  .annotating span {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: -.075em;
    font-size: 48px;
    color: #000000;
    line-height: 58px;
  }


  .ls-button {
    padding: 18px 20px;
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
  }

  .lacuna-stories-image {
    float: right;
    height: 400px;
    width: 50%;
    background-image: url(/sites/all/themes/lacuna_stories/images/bannerimage.png);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  }
}/*/

@media (max-width: 849px) and (min-width: 646px) {
  .banner-wrapper {
    height: 400px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #8FA3B6;
  }

.lacuna-stories-about {
    /*border: 1px solid black;*/
    width: 30%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(30%, 20%);
    -webkit-transform: translate(30%, 20%);
    float: left;
    vertical-align: baseline;
}

.annotating span {
    font-family: "Source Sans Pro", sans-serif;
    /*letter-spacing: -.075em;*/
    font-size: 35px;
    color: #000000;
    line-height: 35px;
}

h2.annotating {
  margin-bottom: 25px;
}

.ls-button {
    padding: 18px 20px;
    font-size: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 400px;
    width: 40%;
    background-image: url(../images/bannerimage.png);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 645px) {
.banner-wrapper {
    height: 250px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #8FA3B6;
}

.lacuna-stories-about {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    width: 66%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 4.5em;
    left: 0;
    display: inline-block;
}

.lacuna-stories-image {
    float: right;
    height: 250px;
    width: 33%;
    background-image: url(../images/bannerimage.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.ls-button {
	display: none;
}

h2.annotating {
  font-size: 1.1em;
}

.annotating span {
	font-family: "Source Sans Pro", sans-serif;
    /*font-size: 25px;*/
    color: #000000;
    line-height: 20px;
}
}


/*styling for "about this course" page*/
div.node-course.view-mode-full {
    .group-header {
        width: 100%;
        height: 35vh;
        overflow: hidden;
        border-bottom: 1px solid #d1d5d3;
    }

    .field-name-field-course-image img {
        width: 100%;
        height: auto;
        transform: translateY(-25%);
        -webkit-transform: translateY(-25%);
    }
    .field-name-title {
        font-family: "Source Sans Pro", $arial;
        font-size: 3em;
        padding-top: 25px;
        padding-bottom: 10px;
        text-align: left;
        letter-spacing: -.01em;
        text-transform: uppercase;
        color: #1588ba;
        line-height: 1em;
        margin-left: 5%;
        margin-right: 5%;
    }


    .field-name-field-name {
      margin-left: 5%;
      margin-right: 5%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 2em;
    }

    .field-name-field-department {
      margin-left: 5%;
      margin-right: 5%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.5em;
    }

    .field-name-body {
      margin-left: 5%;
      margin-right: 5%;
      text-align: justify;
    }

    .group-left {
      width: 58%;
    }

    .group-right {
      width: 40%;
      box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.15);
      border: 1px solid #d1d5d3;
      margin-top: 40px;
    }

    @media (max-width: 540px) {

      .group-left {

        width: 100%;
        font-size: .75em;

        & > * {
          margin-left: 0;
          margin-right: 0;
        }

      }

      .group-right {

        width: 100%;
        font-size: .85em;

        & > .field.field-label-inline {
          margin-left: 10%;
          margin-right: 10%;
        }

      }

    }

    .field-name-field-course-term {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
      padding-top: 25px;
        .field-items {
          float: right;
        }
    }
    .field-name-field-course-year {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
    .field-name-field-course-id {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
    .field-name-field-start-date {
      margin-left: 10%;
      margin-right: 20%;
      border-bottom: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
    .field-name-field-end-date {
      margin-left: 10%;
      margin-right: 20%;
      border-bottomn: 1px dotted #d1d5d3;
        .field-items {
          float: right;
        }
    }
}

/*styling for "enroll" button on course pages*/
.enroll-button {
    margin-left: 3%;
    font-size: 1em;
    width: auto;
    font-family: "Source Sans Pro", sans-serif;
}

span.group.manager {
    font-family: "Source Sans Pro", sans-serif;
    color: #1588ba;
    font-size: 1.5em;
    margin-left: 30px;
}

a.group.subscribe,
a.group.unsubscribe,
body.not-logged-in div.field-name-group-group {
  margin-left: 30px;
  font-size: 1em;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a.create-peer-group {
  font-size: 1em;
  width: auto;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.view-peer-group-members .view-header a {
  font-size: 1em;
  width: auto;
}

@media (max-width: 540px) {
  a.group.subscribe,
  a.group.unsubscribe {
    margin: auto;
    padding: .5em 1em;
    font-size: 1.25em;
    line-height: 1.25;
    display: block;
    position: relative;
    top: 1em;
  }
}

.toboggan-unified #login-message {
  font-family: "Source Sans Pro", sans-serif;
  color: #1588ba;
  font-size: 2em;
  letter-spacing: -.01em;
}

@media only screen and (max-width: 540px) {

  .toboggan-unified #login-message {
    font-size: 1.5em;
    margin-top: -.5em;
  }

}

.toboggan-unified #register-link {
  width: auto !important;
}

.toboggan-unified a.lt-active  {
  border: none !important;
}

body.not-logged-in div.field-name-group-group a {
  color: #ffffff;
  padding: 5px;
}


/*styling for the notifications menu item, font awesome bell icon produced by the menu notifications view --DMB 5/2/17*/

.view-notifications-view i.fa.fa-bell.active {
  color: #1588ba;
}

.view-notifications-view i.fa.fa-bell.active:hover {
  color: #094762;
}

div#block-superfish-1 div.view-notifications-view a:hover {
  color: #555555 !important;
}

div#block-superfish-1 div.view-notifications-view a {
  color: #9e9e9e !important;
}



/*theming for Peer Groups pages --DMB 12/13/2016*/
div.node-peer-group.view-mode-full {
    .group-header {
        width: 100%;
        height: 35vh;
        overflow: hidden;
        border-bottom: 1px solid #d1d5d3;
      }

    .group-left {
      width: 95%;
    }

    .field-name-title {
        font-size: 2em;
        text-align: left;
        letter-spacing: -.01em;
        text-transform: uppercase;
        color: #1588ba;
        line-height: 1em;
        margin-right: 5%;
        margin-left: 5%;
    }
    .field-name-title h2 {
        font-family: "Source Sans Pro", $arial !important;
        font-weight: 500;
    }

    .field-name-field-group-description {
      margin-left: 5%;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #ececec;
        p {
          font-family: Georgia, serif;
        }
    }

    .field-name-peer-group-members {
      margin-left: 5%;
    }
    .views-field-picture {
      width: 220px;
      height: 220px;
      float: left;
      margin-right: 20px;
      border: 1px solid rgba(7,7,7,0.2);
      border-radius: 50%;
    }
    .view-peer-groups-image img {
      width: 220px;
      height: auto;
      border-radius: 50%;
    }
    div.views-field-name, div.views-field-php {
      float: left;
      width: 100%;
      margin-top: 15px;
      text-align: center;
      p {
        text-align: center;
      }
    }
}
/*theming for Peer Groups view (../peer-groups) -- DMB 3/9/2017*/
.view-peer-groups {
  .views-fluid-grid-item {
    display: block;
    margin-bottom: 2em;
    width: 330px !important;
    height: 100px;
    float: left;
    margin-right: 30px;
  }
  .views-field-field-peer-group-image {
    float: left;
  }
  .view-peer-groups-image {
    img {
      border-radius: 50%;
      margin-right: 20px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  .views-field-title span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .views-field-name a.username {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h4.peer-group-name {
    width: 100%;
    float: left;
  }
}

div.view-display-id-joined_peer_groups, div.view-display-id-my_peer_groups, div.view-display-id-unjoined_peer_groups {
    width: 100%;
    float: left;
    margin-bottom: 25px;
  }

div.peer-groups-illustration {
  width: 100%;
  height: 20vh;
  background-image: url(../images/peer-groups-illustration.png);
  background-size: cover;
  background-position: center;
  border: 4px solid #cccccc;
}

/*styles for Peer Group Members view --DMB 3/20/17*/
div#block-views-peer-group-members-block-1 {
  .views-row {
    float: left;
    width: 220px;
    margin-top: 2em;
    margin-right: 2em;
      .views-field-name p {
        margin: 0;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  }
  .views-row:first-child {
    .views-field-name p {
      font-weight: 800;
    }
  }

}
