/*
  Stylesheet for forms
*/

$border-color: #eee;

// User registration form
form#user-register-form {

  //  Prevent fieldsets from exceeding page width on small screens
  @media (max-width: 540px) {
    fieldset {
      min-width: 0;
    }
  }

  // Remove ugly padding around fieldsets in forms
  fieldset.form-wrapper {
    margin: 0px;
    padding: 0px;
    border: none;
    legend {
      left: 0px;
    }
  }

  // For user profiles, particularly the date of birth field
  legend span.fieldset-legend {
    font-weight: bold;
  }

  fieldset.collapsible {
    border: 1px solid $border-color;
    padding-left: 1em;
    @media (max-width: 540px) { padding-right: 1em; }
  }

  table.tabledrag-processed {
    tbody {
      tr {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }
    }
  }

  // Fix the birth date display on form edit
  #field-date-of-birth-add-more-wrapper {
    fieldset.form-wrapper {
      legend {
        span {
          background-image: none;
          padding-left: 0px;
        }
      }
      .fieldset-wrapper {
        .date-no-float {
          @media (max-width: 540px) { width: 100%; }
          .form-type-date-text {
            #edit-field-date-of-birth-und-0-value {
              padding: 0px;
            }
            @media (max-width: 540px) {
              margin-right: 0;
              input { width: 100%; }
            }
          }
        }
        padding-left: 0px;
      }
    }
  }

  fieldset#edit-picture {
    legend {
      span.fieldset-legend {
        display: none;
        background-image: none;
        padding-left: 0px;
      }
    }
  }

  // Space above the "Create New Account" button
    fieldset.group-education {
    margin-bottom: 20px;
  }
} // End #user-register-form

// For required asterisks
table.tabledrag-processed td label {
  display: inline-block;
}

// For Page-Turner page range
#page-turner-pages-numbers {
  border: solid 1px gray;
  padding-left: 2px;
  padding-right: 2px;
}

#course-set-up-materials-form {
  .term {
    .name {
      padding-left: 5px;
    }
  }
}

@media (max-width: 540px) {
  body.page-node-add-response {

    fieldset {
      
      min-width: 0;

      #edit-field-bibliographic-item-und-0-target-id {
        width: 100%;
      }

    }

    div.vertical-tabs {
      
      margin: 1em 0;

      ul.vertical-tabs-list {

        width: 100%;
        margin: 0;
        border-top: none;

        li {
          border-left: none;
        }

      }

    }

    .media-widget .button.browse {
      float: left;
      margin-bottom: 0.75em;
    }

    .form-actions .form-submit {
      width: 125px;
    }

  }

}

