@import "init";

$menu-color: white;
$tabs-color: rgb(245,245,245);
$menu-active-color: #eee;

a.nolink {
  text-decoration: none;
  color: black;
}

#block-superfish-1, #block-superfish-2 {
 float: right;
 padding-right: 0px;
 font-size: 1em;
 font-family: $base-font-family;
 margin-bottom: 0px;
 @media (max-width: 959px) {
  position: relative;
  height: 1.5rem;
  margin-top: .5rem;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 1.5rem;
    background: linear-gradient(
      to bottom, 
      #aaa, #aaa 20%, 
      #fff 20%, #fff 40%, 
      #aaa 40%, #aaa 60%, 
      #fff 60%, #fff 80%, 
      #aaa 80%, #aaa 100%
    );
    pointer-events: none;
  }
  select {
   width: 2rem;
   height: 1.4rem;
   margin-top: .05rem;
  }
 }
}

#superfish-1, #superfish-2 {
 padding-bottom: 0px;
 margin-top: 0px;
}

.sf-sub-indicator {
  display: none;
}
/* Superfish dropdown menu rules */
ul.sf-menu {
  font-size: 12pt;
  background-color: $menu-color !important;
  padding: none !important;

  a {
    border: none !important;
  }

  span.sf-with-ul {
    padding-right: 1em !important;
  }
  span.sf-depth-2 {
    display: block;
    padding: 10px 15px 10px 15px;
    margin: 0px;
  }

  :hover span {
    border-radius: 2px;
    background-image: linear-gradient(to top, #ededed, #e0e0e0) !important;
  }

  li {
    background-color: $menu-color !important;
    list-style-type: none;
    list-style-image: none;
    //padding: 10px 15px 10px 15px;
    margin: 0px;

    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 19px;
    letter-spacing: .6px;
    color: #4e4e4e;
/*
    :hover {
      border-radius: 2px;
      // background-color: #FFFFFF;
      background-image: linear-gradient(to top, #ededed,#e0e0e0) !important;
    } */


    span {
      border: none !important;
      a {
        background-color: $menu-color !important;
      }
    }
    ul {
      width: 200px !important;
      box-shadow: 0px 3px 5px #d2d2d2;
      li {
        padding: 0px;
        background-color: white;
        border: 1px solid gray;
        border-bottom: 0px;
      }
      li.firstandlast, li.last {
        border-bottom: 1px solid gray;
      }
      /*
      li.active-trail {
        background-color: $menu-active-color !important;
      } */
    }
  }

}

.sf-depth-2 {
  max-width: 200px !important;
  //width: 80% !important;
  border-right: 1px solid gray !important;
}

ul.menu {
  list-style-type: none;
}

ul.menu li.menuparent {

}

ul.menu li:hover {
  cursor: pointer;
}

ul.menu li a {
  text-decoration: none;
}

ul.tabs.primary {
  margin-bottom: 20px;
  overflow: hidden;
}

ul.tabs.primary li {
  float: left;
}

ul.tabs.primary a {
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  opacity: 0.8;
  color: black;
  display: block;
  border-style: solid;
  border-bottom-color: transparent;
}

ul.tabs.primary a.active, ul.tabs.primary a:hover {
  background-color: $tabs-color;
}
