@import "init";

$menu-color: transparent;
$tabs-color: rgb(245,245,245);
$menu-active-color: #eee;

a.nolink {
  text-decoration: none;
  color: black;
}


#block-superfish-1 {
  float: right;
  padding-right: 50px;
  font-size: 1em;
  font-family: $base-font-family;
}

#superfish-1 {
  padding-bottom: 100px;
  margin-top: -80px;
}

/* Superfish dropdown menu rules */
.sf-menu {
  font-size: 12pt;
  background-color: $menu-color;

  li {
    list-style-type: none;
    list-style-image: none;
    padding: 10px 15px 10px 15px;
    margin: 0px;
  }
  span.sf-depth-2 {
    display: block;
    padding: 10px 15px 10px 15px;
    margin: 0px;
  }
  .sf-depth-1.sf-no-children {
    display: none;
  }
  li.menuparent {
    background-color: $menu-color;
    a {
      border: none;
      background-color: $menu-color !important;
    }
    ul {
      li {
        padding: 0px;
        background-color: white;
        border: 1px solid gray;
        border-bottom: 0px;
      }
      li.firstandlast, li.last {
        border-bottom: 1px solid gray;
      }
      li.active-trail {
        background-color: $menu-active-color !important;
      }
    }
    li:hover {
      // background-color: $menu-active-color !important;
    }
  }
}

.sf-depth-2 {
  width: 80% !important;
}

ul.menu {
  list-style-type: none;
}

ul.menu li.menuparent {

}

ul.menu li:hover {
  cursor: pointer;
}

ul.menu li a {
  text-decoration: none;
}

ul.tabs.primary {
  margin-bottom: 20px;
  overflow: hidden;
}

ul.tabs.primary li {
  float: left;
}

ul.tabs.primary a {
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  opacity: 0.8;
  color: black;
  display: block;
  border-style: solid;
  border-bottom-color: transparent;
}

ul.tabs.primary a.active, ul.tabs.primary a:hover {
  background-color: $tabs-color;
}
