$border-color: rgba(7,7,7,.2);
$profile-width: 220px;
$profile-height: 220px;

@media screen and (min-width: 1139px) {
#user-profile-main {
	width: 100%;
	div.column {
		display: inline-block;
	}
	aside.column.left-part {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
		width: 27%;
		float: left;
	}

	.profile-section {
		margin-bottom: 20px;
		padding-top: 15px;
	}

	div.left-part {
		margin-right: 10px;
		vertical-align: top;
		width: 27%;
		float: left;
	}

	div.right-part {
		vertical-align: top;
		width: 70%;
	}

	span.caption, p.profileUsername {
		font-size: 24px;
		font-weight: bold;
		font-family: "Source Sans Pro", sans-serif;
		letter-spacing: -.03em;
		color: #465F73;
	}

	p.profileUsername {
		margin-bottom: 25px;
		font-size: 2.2em;
		font-size: 2.2vw;
		/*max-width: 220px;*/
		line-height:110%;
		margin-top: 20px;
	}

	div.field-wrapper {
		border: 1px solid;
		border-color: $border-color;
		border-radius: 5px;
		padding: 10px;
		p {
			margin: 0;
			font-size: 16px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		p.title {
			font-style: italic;
			font-size: 20px;
		}
		p.no-results {
			margin-top: 10px;
		}
	}

	#user-avatar-space {
		height: auto;
		vertical-align: bottom;
		text-align: left;

	}

	#user-command-buttons {
		margin-bottom: 10px;
		div {
			margin-bottom: 10px;
		}
		a, a:visited, a:active {
			color: inherit;
			.fa {
				color: #506038;
				vertical-align: sub; /*brings into alignment with spans*/
			}
			.fa:hover {
				color: #BDD09E;
				transition: 100ms background-color ease;
				-webkit-transition: 100ms background-color ease;
			}
			span {
				color: #465F73;
				padding: 3px;
				font-family: "Source Sans Pro", sans-serif;
				letter-spacing: -.06em;
				font-size: 1.3em;
				text-transform: uppercase;
				margin-left: 10px;
			}
			/*lines first child up with following*/
			.fa-cog:before {
				margin-right: 5px;
			}
			span:hover {
				color: #8495A0;
				transition: 100ms background-color ease;
				-webkit-transition: 100ms background-color ease;
			}

		}
		a:not(:first-child) {
			margin-left: 20px;
		}
	}

	#how-I-Learn-space div.field-wrapper p {
		max-height: 460px;
		height: 460px;
	}

	#user-contributions-space {
		div.field-wrapper {
			height: 100px;
			padding-right: 0;
			padding-bottom: 0;
			.block {
				overflow-y: scroll;
				height: 75px;
			}
		}
		div.field-wrapper:nth-child(n+1) {
			// border-top: none;
			margin-top: -1px;
		}
	}
	#user-bio-space div.field-wrapper {
		height: 30px
	}
	#user-learning-goals-space div.field-wrapper {
		height: 120px;
		white-space: nowrap;
	}

	#user-learning {
		table {
			width: 100%;
			margin: 0;
			td {
				text-align: center;
				p {
					font-style: italic;
				}
				img {
					border: 1px solid;
					border-color: $border-color;
					border-radius: 8px;
					width: 120px;
					height: 120px;
				}
			}
		}
		div.user-link-item.is-empty {
			opacity: 0.4;
			a {
				cursor: default;
				pointer-events: none;
			}
		}
	}
}
}

@media screen and (max-width: 1138px) {
	#user-profile-main {
	width: 100%;
	div.column {
		display: inline-block;
	}

	aside.column.left-part {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
		width: 27%;
		float: left;
	}

	.profile-section {
		margin-bottom: 20px;
		padding-top: 15px;
	}

	div.left-part {
		margin-right: 10px;
		vertical-align: top;
		width: 27%;
		float: left;
	}

	div.right-part {
		vertical-align: top;
		width: 65%;
	}

	span.caption, p.profileUsername {
		font-size: 24px;
		font-weight: bold;
		font-family: "Source Sans Pro", sans-serif;
		letter-spacing: -.03em;
		color: #465F73;
	}

	p.profileUsername {
		margin-bottom: 25px;
		font-size: 2.2em;
		font-size: 2.2vw;
		/*max-width: 220px;*/
		line-height:110%;
		margin-top: 20px;
	}

	div.field-wrapper {
		border: 1px solid;
		border-color: $border-color;
		border-radius: 5px;
		padding: 10px;
		p {
			margin: 0;
			font-size: 16px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		p.title {
			font-style: italic;
			font-size: 20px;
		}
		p.no-results {
			margin-top: 10px;
		}
	}

	#user-avatar-space {
		height: auto;
		vertical-align: bottom;
		text-align: left;
		@media (max-width: 540px) {
			font-size: .75em;
		}
	}

	#user-command-buttons {
		margin-bottom: 10px;
		div {
			margin-bottom: 10px;
		}
		a, a:visited, a:active {
			color: inherit;
			.fa {
				color: #506038;
				vertical-align: sub; /*brings into alignment with spans*/
			}
			.fa:hover {
				color: #BDD09E;
				transition: 100ms background-color ease;
				-webkit-transition: 100ms background-color ease;
			}
			span {
				color: #465F73;
				padding: 3px;
				font-family: "Source Sans Pro", sans-serif;
				letter-spacing: -.06em;
				font-size: 1.3em;
				text-transform: uppercase;
				margin-left: 10px;
			}
			/*lines first child up with following*/
			.fa-cog:before {
				margin-right: 5px;
			}
			span:hover {
				color: #8495A0;
				transition: 100ms background-color ease;
				-webkit-transition: 100ms background-color ease;
			}

		}
		a:not(:first-child) {
			margin-left: 20px;
		}
	}

	#how-I-Learn-space div.field-wrapper p {
		max-height: 460px;
		height: 460px;
	}

	#user-contributions-space {
		div.field-wrapper {
			height: 100px;
			padding-right: 0;
			padding-bottom: 0;
			.block {
				overflow-y: scroll;
				height: 75px;
			}
		}
		div.field-wrapper:nth-child(n+1) {
			// border-top: none;
			margin-top: -1px;
		}
	}
	#user-bio-space div.field-wrapper {
		height: 30px
	}
	#user-learning-goals-space div.field-wrapper {
		height: 120px;
		white-space: nowrap;
	}

	#user-learning {
		table {
			width: 100%;
			margin: 0;
			td {
				text-align: center;
				@media (max-width: 540px) {
					display: inline-block;
					padding: .5em;
					width: 100%;
					box-sizing: border-box;
				}
				p {
					font-style: italic;
				}
				img {
					border: 1px solid;
					border-color: $border-color;
					border-radius: 8px;
					width: 120px;
					height: 120px;
				}
			}
		}
		div.user-link-item.is-empty {
			opacity: 0.4;
			a {
				cursor: default;
				pointer-events: none;
			}
		}
	}
}
}

@media screen and (max-width: 968px) {
	#user-profile-main {
	width: 100%;
	div.column {
		display: inline-block;
	}

	aside.column.left-part {
		display: block;
		width: 100%;
		text-align: center;
	}

	.profile-section {
		margin-bottom: 20px;
		padding-top: 15px;
	}

	/*div.left-part {
		margin-right: 10px;
		vertical-align: top;
		width: 22%;
		float: left;
	}*/

	div.right-part {
		vertical-align: top;
		width: 100%;
	}

	span.caption, p.profileUsername {
		font-size: 24px;
		font-weight: bold;
		font-family: "Source Sans Pro", sans-serif;
		letter-spacing: -.03em;
		color: #465F73;
	}

	p.profileUsername {
		margin-bottom: 25px;
		font-size: 2.5em;
		/*max-width: 220px;*/
		line-height:110%;
		margin: 20px;
	}

	div.field-wrapper {
		border: 1px solid;
		border-color: $border-color;
		border-radius: 5px;
		padding: 10px;
		p {
			margin: 0;
			font-size: 16px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		p.title {
			font-style: italic;
			font-size: 20px;
		}
		p.no-results {
			margin-top: 10px;
		}
	}

	#user-avatar-space {
		height: auto;
		vertical-align: bottom;
		text-align: center;

	}

	#user-command-buttons {
		margin-bottom: 10px;
		div {
			margin-bottom: 10px;
		}
		a, a:visited, a:active {
			color: inherit;
			.fa {
				color: #506038;
				vertical-align: sub; /*brings into alignment with spans*/
			}
			.fa:hover {
				color: #BDD09E;
				transition: 100ms background-color ease;
				-webkit-transition: 100ms background-color ease;
			}
			span {
				color: #465F73;
				padding: 3px;
				font-family: "Source Sans Pro", sans-serif;
				letter-spacing: -.06em;
				font-size: 1.3em;
				text-transform: uppercase;
				margin-left: 10px;
			}
			/*lines first child up with following*/
			.fa-cog:before {
				margin-right: 5px;
			}
			span:hover {
				color: #8495A0;
				transition: 100ms background-color ease;
				-webkit-transition: 100ms background-color ease;
			}

		}
		a:not(:first-child) {
			margin-left: 20px;
		}
	}

	#how-I-Learn-space div.field-wrapper p {
		max-height: 460px;
		height: 460px;
	}

	#user-contributions-space {
		div.field-wrapper {
			height: 100px;
			padding-right: 0;
			padding-bottom: 0;
			.block {
				overflow-y: scroll;
				height: 75px;
			}
		}
		div.field-wrapper:nth-child(n+1) {
			// border-top: none;
			margin-top: -1px;
		}
	}
	#user-bio-space div.field-wrapper {
		height: 30px
	}
	#user-learning-goals-space div.field-wrapper {
		height: 120px;
		white-space: nowrap;
	}

	#user-learning {
		table {
			width: 100%;
			margin: 0;
			td {
				text-align: center;
				p {
					font-style: italic;
				}
				img {
					border: 1px solid;
					border-color: $border-color;
					border-radius: 8px;
					width: 120px;
					height: 120px;
				}
			}
		}
		div.user-link-item.is-empty {
			opacity: 0.4;
			a {
				cursor: default;
				pointer-events: none;
			}
		}
	}
}
}
/*
	We use this CSS in the People view, so separate it from
  just the user profile ID // 8/22/16: making changes to .user-picture in responses and comments; changes made in content.scss -- DMB
*/
.user-picture {
	width: $profile-width;
	height: $profile-height;
	border: 1px solid $border-color;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	img {
		min-width: $profile-width;
		min-height: $profile-height;
		margin-left: $profile-width / 2;
		max-width: none;
		position: relative;
		transform: translateX(-50%); 	/* this along with margin will position img centrally*/
		-ms-transform: translateX(-50%); /* IE 9 */
		-webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
	}
}

/*
 Here instead of views.scss because of close linkage with
 user profile styles, use of variables
 */
.view-people {
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			margin: 2em;
			@media (max-width: 450px) {
				margin-left: 0;
				margin-right: 0;
			}
			.views-field-rid {
			  width: $profile-width;
			  height: 1em;
			}
		}
	}
}

/*excludes node title from user pages*/
body.page-user #page-title {
	display: none;
}
