@import "init";
/* Hide "Operations" text in Sewing Kit */
.vbo-views-form form div fieldset.container-inline legend span.fieldset-legend {
  display: none;
}

/* Theme the select list for adding to a thread */
select#edit-thread-add {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}

/* The "Add to Thread" button for Sewing Kit */
#edit-actionsewing-kit-stitch {
  width:200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

/* Center the "Select all" options */
.vbo-fieldset-select-all {
  margin-right: auto;
  margin-left: auto;
}

.views-field-biblio-url {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Arrange topic view */
.view-topics .view-content div {
  height: 200px;
}

.views-row-odd span.views-field-field-image div.topic_image {
  float: left;
  padding-right: 20px;
}

div.views-row-even span.views-field-field-image div.topic_image {
  float: right;
  padding-left: 20px;
}

div.views-row-last span.views-field-field-image div.topic_image  {
  float: right;
  padding-left: 20px;
}

.views-exposed-form .views-exposed-widget{
  clear: both;
  width: 100%;
}
/*.views-exposed-form .views-exposed-widget.views-reset-button {
  margin-top: 10px;
  padding-top:0px;
}*/
.views-exposed-form .views-exposed-widget label {
  min-width: 150px;
}

/* View-specific theming, for Materials, Responses, Threads */
$views-link-color: #808080;
$views-link-hover-color: #1588BA;
.view-documents,
.view-responses,
.view-my-threads,
.view-sewing-kit,
.view-my-content,
.view-all-content,
.view-all-annotations {
  .views-submit-button,
  .views-widget-sort-order {
    display: none;
  }
  .views-widget-sort-by {
    .form-type-bef-link {
      float: left;
      margin: 0 10px 0 15px;
      a {
        color: $views-link-color;
        font-weight: bold;
        font-size: 15px;
      }
      a:hover {
        color: $views-link-hover-color;
      }
    }
    .form-type-bef-link.selected a {
      color: $views-link-hover-color;
    }
  }
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 10px #888888;
  }
  .views-row {
    float: left;
    width: 150px;
    margin: 20px 20px 65px 20px;
    height: 500px;
  }
  .views-exposed-widget {
    margin-top: 0px;
  }
  .views-exposed-widget>label,
  .form-item-sort-by>label  {
    float: left;
    margin-right: 10px;
  }
  .views-widget {
    display: inline;
    input[type=text] {
      width: 20%;
    }
  }
  .form-type-bef-checkbox {
    float: left;
    margin: 0px 5px 0px 10px;
    font-size: 0.95em;
    color: grey;
  }
  .view-content h3 {
    display: inline-block;
    width: 100%;
    padding-top: 25px;
  }
}

.view-documents #edit-reset.form-submit,
.view-responses #edit-reset.form-submit{
  margin-top: 0px;
  margin-right: 80px;
}

table.views-table {
  width: 100%;
}

.views-table tr {
  text-align: left;
}

.view-sewing-kit,
.view-stitchings {
  th.views-field-category,
  th.views-field-text,
  th.views-field-quote,
  th.view-field-tags {
    text-align: center;
  }
  th {
    width: 2%;
    max-width: 5%;
  }
  th.views-field-text,
  th.views-field-quote {
      width: 10% !important;
      min-width: 100px;
  }
  th.views-field-views-bulk-operations,
  th.views-field-nothing {
    width: 1% !important;
  }
  td.views-field-category {
    text-align: center;
  }
}

.view-people {
  .views-field-name,
  .views-field-rid {
    text-align: center;
  }
  table.views-view-grid {
    td {
      padding-left: 25px;
    }
  }
}

div#block-views-bibliography-block {
  font-family: $base-serif-font-family;
}
