@import "init";
/* Hide "Operations" text in Sewing Kit */
.vbo-views-form form div fieldset.container-inline legend span.fieldset-legend {
  display: none;
}

/* Theme the select list for adding to a thread */
select#edit-thread-add {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}

/* VBO styling */
div.view {
  div.vbo-views-form {
    fieldset.container-inline {
      border: 0;
    }
  }
  .views-widget-filter-created,
  .views-widget-filter-created_1 {
    display: none;
  }
  /*
  .fieldset-wrapper {
    margin-left: 33%;
  } */
  input[id^='edit-actionsewing-kit-stitch'],
  input[id^='edit-actionviews-data-export-action-csv-export'],
  input[id^='edit-actionlacuna-lti-resource-add']
  {
    width: auto;
    display: inline-block;
    height: 50px;
    font-size: 14pt;
  }
  .chosen-container {
    max-width: 60% !important;
    width: 200px !important;
  }
  .views-exposed-form {
    label {
      width: 16%;
    }
  }
  td.views-field-views-bulk-operations .form-type-radio {
    margin-left: 5px;
    margin-right: 5px;
  }
}

div.view-list-resource-list {
  th.views-field-field-image {
    width: 50px;
  }
}

/* Remove from thread view block */
h2#stitchings {
  text-align: center;
}
div#block-views-stitchings-block-1,
div.view-stitchings {
  margin-left: 5%;
  margin-right: 5%;
  /*.fieldset-wrapper {
    text-align: center;
  }*/
  th.views-field-views-bulk-operations {
    div.form-type-checkbox {
      margin-left: 0em !important;
      margin-right: 0em !important;
    }
  }
  div.tabledrag-toggle-weight-wrapper {
    display: none;
  }
  fieldset#edit-select {
    border: none;
    margin-left: 5em;
    input[id^='edit-actionsewing-kit-remove'] {
      width: auto;
      height: 35px;
      font-size: 10pt;
      position: relative;
      top: 25px;
      left: -45.2%;
    }
  }
  td.views-field-views-bulk-operations {
    min-width: 50px;
    input.vbo-select.form-checkbox {
      display: block;
      float: right;
      margin-right: 40%;
      position: relative;
      top: -50%;
      -webkit-transform: translateY(50%);
      -o-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
    }
    div.handle {
      margin: 0;
      position: relative;
    }
    div.form-item.form-type-checkbox {
      float: right;
    }
  }
}

/* Centers the Add to Thread & Remove From Thread buttons*/
.vbo-views-form .container-inline.form-wrapper {
  .fieldset-wrapper {
    text-align: center;
  }
}


/* Center the "Select all" options */
.vbo-fieldset-select-all {
  margin-right: auto;
  margin-left: auto;
}

.views-field-biblio-url {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Arrange topic view */
.view-topics .view-content div {
  height: 200px;
}

.views-row-odd span.views-field-field-image div.topic_image {
  float: left;
  padding-right: 20px;
}

div.views-row-even span.views-field-field-image div.topic_image {
  float: right;
  padding-left: 20px;
}

div.views-row-last span.views-field-field-image div.topic_image  {
  float: right;
  padding-left: 20px;
}

.views-exposed-form .views-exposed-widget{
  clear: both;
  width: 100%;
}

.views-exposed-form .views-exposed-widget label {
  min-width: 180px;
}

/* View-specific theming, for Materials, Responses, Threads */
$views-link-color: #808080;
$views-link-hover-color: #1588BA;
.view-documents,
.view-responses,
.view-threads,
.view-sewing-kit,
.view-my-content,
.view-all-content,
.view-all-annotations {
  .views-submit-button,
  .views-widget-sort-order {
    display: none;
  }
  .views-widget-sort-by {
    //.form-type-bef-link {
      float: left;
      margin: 0 10px 0 15px;
      a {
        color: $views-link-color;
        font-weight: bold;
        font-size: 15px;
      }
      a:hover {
        color: $views-link-hover-color;
      }
    //}
    //.form-type-bef-link.selected a {
    //  color: $views-link-hover-color;
    //}
  }
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 10px #888888;
  }
  .views-row {
    float: left;
    width: 150px;
    margin: 20px 20px 65px 20px;
    height: 350px;
  }
  .views-exposed-widget {
    margin-top: 0px;
  }
  .views-exposed-widget>label,
  .form-item-sort-by>label  {
    float: left;
    margin-right: 10px;
  }

  .form-type-bef-checkbox {
    float: left;
    margin: 0px 5px 0px 10px;
    font-size: 0.95em;
    color: grey;
  }
  .view-content h3 {
    display: inline-block;
    width: 100%;
    padding-top: 25px;
  }
}

.view-responses {
  .views-field-realname {
  a {
    color: #94b725; 
  }
  a:hover {
    color: #a5cc29;
  }
  }
  .views-field-created {
    .field-content {
      display: block;
    }
  }
  .views-field-field-image {
    img {
      opacity: 0.9;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    img:hover {
      opacity: 1.0;
    }
  }
}

.view-documents {
  .views-field-field-image {
    img {
      opacity: 0.9;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    img:hover {
      opacity: 1.0;
    }
  }
}


.view-documents #edit-reset.form-submit,
.view-responses #edit-reset.form-submit{
  margin-top: 0px;
  margin-right: 80px;
}
.view-courses {
  li.views-fluid-grid-item {
    width: 32%;
  }
  div.views-fluid-grid h3 {
    text-align: left;
  }
}

/* enables horizontal scrolling for table*/
.view-content {
  overflow: auto;
} 

table.views-table {
  width: 100%;
  font-family: $base-font-family;
}

.views-table tr {
  text-align: left;
  overflow-x: auto;
}

.view-sewing-kit,
.view-stitchings {
  .views-table thead {
    border-bottom: 4px solid #bfbfbf !important;
  }

  th.views-field-category,
  th.views-field-text,
  th.views-field-quote,
  th.view-field-tags {
    text-align: center;
  }
  th {
    width: 2%;
    max-width: 5%;
    padding: 1em .75em 0em;
    font-size: 14px;
  }
  th.views-field-name {
    width: 7%;
  }
  th.views-field-text,
  th.views-field-quote {
      width: 10% !important;
      min-width: 100px;
  }
  th.views-field-views-bulk-operations,
  th.views-field-nothing {
    width: 1% !important;
    text-align: right;
    padding-right: 0.5em;
    padding-left: 1.5em;
  }
  th.active {
    img {
      margin-left: 8px;
    }
  }

  tr.odd, tr.even {
    border: none !important;
  }
  tr.odd {
    background-color: #f8f8f8 !important;
  }
  td {
    padding: 1em .75em 1em;
    font-size: 14px;
    line-height: normal;

  }
  td.views-field-views-bulk-operations {
      padding-left: 1.5em;
      padding-right: 0em;
    }
  td.active {
    background-color: rgba(21,136,186,.08) !important;
  }
  td.views-field-category {
    text-align: center;
  }
  .form-item-field-annotation-reference-target-id .form-select {
    width: 50%;
  }
}


/*
* Styles for responsive tables.
*/

@media (max-width: 920px) {

  .view-sewing-kit,
  .view-stitchings,
  .view-threads {

    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    tr:not(.views-table-row-select-all),
    tr.odd:not(.views-table-row-select-all) {

      border-bottom: 2px solid #aaa !important;
      padding-left: 0;
      padding-right: 0;

      td,
      td.views-field-views-bulk-operations {

        border-bottom: 1px solid #ddd;
        padding-left: 50%;
        padding-right: 5%;
        width: 100%;
        position: relative;
        box-sizing: border-box;

        &:last-child { border-bottom: none; }
        
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 45%;
          padding-left: 5%;
          font-weight: 600;
        }

      }

    }

    tr.views-table-row-select-all input {
      white-space: normal;
      display: block;
      width: 100%;
    }

  }
  

  /*
  * Hard-coded table header values for Sewing Kit and Threads
  */

  $sewing-kit-headings: 'Select',
                        'Annotated Content',
                        'Excerpt',
                        'Annotation Text',
                        'Annotator',
                        'Tags',
                        'Category',
                        'Shared With',
                        'Replies',
                        'View in Document';

  $threads-headings: 'Title',
                     'Author',
                     'Description',
                     'Post date';

  $stitchings-headings: 'Annotator',
                     'Annotated Content',
                     'Excerpt',
                     'Annotation Text',
                     'Category',
                     'Tags',
                     'View in Document';

  .view-sewing-kit .view-content {

    padding-top: 2em;
    border-top: 4px solid #bfbfbf;
    margin-top: 2.5em;

    table tbody td.views-field {

      @for $i from 1 through length($sewing_kit_headings) {
          
        $heading: nth($sewing_kit_headings, $i);

        &:nth-child(#{$i})::before {
          content: '#{$heading}:';
        }

      }

    }

  }

  .view-threads table tbody td.views-field {

    @for $i from 1 through length($threads-headings) {
        
      $heading: nth($threads-headings, $i);

      &:nth-child(#{$i})::before {
        content: '#{$heading}:';
      }

    }

  }

  .view-stitchings table tbody td.views-field {

    @for $i from 1 through length($stitchings-headings) {
        
      $heading: nth($stitchings-headings, $i);

      &:nth-child(#{$i})::before {
        content: '#{$heading}:';
      }

    }

  }

}





.view-people {
  .views-field-name,
  .views-field-rid {
    text-align: center;
  }
  table.views-view-grid {
    td {
      padding-left: 25px;
    }
  }
}

div#block-views-bibliography-block {
  font-family: $base-serif-font-family;
}

// This block appears on the "Curate Tags" view page
#block-tagclouds-1 {
  h2 {
    padding-bottom: 25px;
  }

  // Don't display them as links
  a.tagclouds {
    text-decoration: none;
    cursor: text;
    color: black;
  }
}

// For "Cite As" block
div#block-views-cite-as-block {
  padding-left: 5em;
  padding-top: 1em;
}

.fix-width-15 {
  width: 15%;
  padding-left: 2px;
  padding-right: 2px;
}

// Hide the "Leave blank for all" text
.views-widget .chosen-container + .description {
  display: none;
}

.view-manage-enrollment {
  fieldset#edit-select.container-inline {
    border: none;
    text-align: center;
  }
  div.vbo-select-all-markup {
    display: none !important;
  }

  input.form-submit {
    width: 200px;
    display: inline-block;
    height: 50px;
    font-size: 16pt !important;
  }
  input#edit-actioncourse-registration-approve {

  }
  input#edit-actioncourse-registration-block {
    background-color: #ba0024;
    background-image: linear-gradient(to bottom, #ff0025, #ba0024);
    background-repeat: repeat-x;
  }
  input#edit-actioncourse-registration-block:hover {
    background-color: #ba0024;
  }

  div.view-grouping {
    border: solid 1px lightgrey;
    padding: 5px;
  }
  div.view-grouping-header {
    font-size: large;
  }
  .views-field-views-bulk-operations {
    padding-right: 25px;
    padding-left: 5px;
    width: 15px;
  }
  th.views-field-name {
    width: 250px;
  }
  th.views-field-mail {
    //width: 200px;
  }
  caption {
    font-weight: bold;
  }
}

// For the "Add Material" view
body.page-course-setup-add-materials {
  span.block-title {
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
    padding-top: 20px;
    width: 100%;
  }
  div.view-display-id-course_materials_draft_block {
    div.view-content {
      div.views-row {
        height: 50px;
      }
    }
  }
  div.view-display-id-course_block {
    float: left;
  }
}

/*
* Responsive styles for the Digital Research Consent Form
*/

@media (max-width: 540px) {

  article.node-webform {

    margin-left: 0;
    margin-right: 0;
    text-align: left;

    > .field,
    .form-item,
    .form-actions {

      margin-left: 1em;
      margin-right: 1em;

    }

    > .field {
      margin-top: 1em;
    }

  }

}