#user-profile-main
{
	width: 100%;
	font-family: serif;
}

#user-profile-main #user-avatar-space
{
	height: 240px;
	vertical-align: bottom;
	text-align: center;
}
#user-profile-main #user-command-buttons 
{
	margin-bottom: 10px;
}

#user-profile-main #user-command-buttons i:not(:first-child)
{
	margin-left: 20px;
	cursor: pointer;
}

#user-profile-main #user-avatar-space img
{
	width: 200px;
	height: 200px;
	border: 1px solid #000000;
	border-radius: 100px;
}

#user-profile-main div.column
{
	display: inline-block;
}

#user-profile-main .profile-section
{
	margin-bottom: 20px;
}

#user-profile-main div.left-part
{
	margin-right: 10px;
	vertical-align: top;
	width: 22%;
}
#user-profile-main div.right-part
{
	vertical-align: top;
	width: 75%;
	float: right;
}


#user-profile-main span.caption
{
	font-size: 24px;
	font-weight: bold;
}

#user-profile-main div.field-wrapper
{
	border: 1px solid #000000;
}

#user-profile-main #how-I-Learn-space div.field-wrapper
{
	height: 490px;
}

#user-profile-main #user-contributions-space div.field-wrapper
{
	height: 100px;
	margin-top: -1px;	/*	to avoid double-tick borders*/	
}

#user-profile-main #user-bio-space div.field-wrapper
{
	height: 50px
}

#user-profile-main #user-about-space div.field-wrapper, 
#user-profile-main #user-learning-goals-space div.field-wrapper
{
	height: 140px;
}
#user-profile-main div.field-wrapper p
{
	margin: 10px 0 0 10px;
	font-size: 16px;
	font-style: italic;
}
