# Local overrides to the default profile
default:
  extensions:
    Behat\MinkExtension:
      # URL of the site when accessed locally.
      base_url: http://drupal7.drude
      # Configure browser to be used. Browser must be available on wd_host.
      # Stick with chrome by default. It's 2x faster than firefox or phantomjs (your results may vary).
      browser_name: chrome
      selenium2:
        wd_host: http://<wd_host>:4444/wd/hub
        capabilities: { "browser": "chrome", "version": "*" }
    Drupal\DrupalExtension:
      drupal:
        # Local site docroot.
        drupal_root: '</path/to/drupal/docroot>'
      drush:
        # Local site docroot.
        root: '</path/to/drupal/docroot>'

imports:
  - behat.common.yml
