/* line 5, ../../sass/components/base.scss */
#name-and-slogan {
  font-size: 1em;
}

/* line 12, ../../sass/components/base.scss */
#name-and-slogan span {
  color: gray;
}

/* line 16, ../../sass/components/base.scss */
.header__name-and-slogan {
  float: none !important;
  margin-top: 50px;
}

/* line 21, ../../sass/components/base.scss */
#site-name {
  font-size: 1.5em;
}

/* line 25, ../../sass/components/base.scss */
#name-and-slogan #site-name a, #name-and-slogan #site-name a:hover {
  text-decoration: none;
}

/* line 29, ../../sass/components/base.scss */
body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

/* line 35, ../../sass/components/base.scss */
#main {
  padding-top: 0px !important;
  top: -50px !important;
}

/* line 40, ../../sass/components/base.scss */
#page {
  max-width: 1200px;
  padding: 15px;
  margin: auto;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 10px #888888;
  padding-bottom: 100px;
}

/* line 50, ../../sass/components/base.scss */
b {
  font-weight: bold;
}

/* line 54, ../../sass/components/base.scss */
sup {
  vertical-align: super;
  font-size: small;
}

/* line 59, ../../sass/components/base.scss */
p {
  margin-bottom: 10px;
}

/* line 63, ../../sass/components/base.scss */
article.node {
  text-align: justify;
}

/* fix to avoid drop down menu overwrite of message pane */
/* line 68, ../../sass/components/base.scss */
div.messages {
  margin-top: 40px;
}

/* line 72, ../../sass/components/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.3em;
}

/* line 77, ../../sass/components/base.scss */
h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* line 81, ../../sass/components/base.scss */
h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* line 85, ../../sass/components/base.scss */
h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

/* line 89, ../../sass/components/base.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* line 93, ../../sass/components/base.scss */
h5 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* line 97, ../../sass/components/base.scss */
dt {
  margin-top: 10px;
}

/* line 101, ../../sass/components/base.scss */
a {
  color: #1588ba;
  text-decoration: none;
}

/* line 106, ../../sass/components/base.scss */
a:hover {
  color: #094762;
}

/* line 110, ../../sass/components/base.scss */
label {
  margin-bottom: 10px;
}

/* line 113, ../../sass/components/base.scss */
input {
  max-width: 100%;
}

/* line 116, ../../sass/components/base.scss */
input[checked='checked'] {
  background-color: blue;
}

/* line 120, ../../sass/components/base.scss */
td.active {
  background-color: white;
}

/* line 124, ../../sass/components/base.scss */
#page-title {
  margin-bottom: 20px;
  font-weight: bold;
}

/* line 129, ../../sass/components/base.scss */
.breadcrumb {
  display: none;
}

/* line 133, ../../sass/components/base.scss */
.form-item {
  margin-top: 30px;
}
