/* line 1, ../../sass/components/buttons.scss */
#edit-submit {
  width: 200px;
}

/* line 7, ../../sass/components/buttons.scss */
.lacuna-button,
.form-submit,
.af-button-large {
  background-color: #c4df2c;
  background-image: linear-gradient(to bottom, #c4df2c, #88b551);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 6px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  width: 135px;
  margin-right: 5px;
}

/* line 35, ../../sass/components/buttons.scss */
.vbo-table-select-all-pages.form-submit {
  width: 200px;
}

/* line 44, ../../sass/components/buttons.scss */
.lacuna-button:hover,
.lacuna-button:focus,
.form-submit:hover,
.form-submit:focus,
.af-button-large:hover,
.af-button-large:focus {
  background-color: #88b551;
  color: #FFFFFF;
  background-position: 0 -15px;
  text-decoration: none;
  transition: background-position 0.1s linear 0s;
}

/* line 51, ../../sass/components/buttons.scss */
.lacuna-button.lacuna-button-blue {
  background-color: #78cefd;
  background-image: linear-gradient(to bottom, #78cefd, #1588ba);
}

/* line 56, ../../sass/components/buttons.scss */
.lacuna-button.lacuna-button-blue:hover,
.lacuna-button.lacuna-button-blue:focus {
  background-color: #1588ba;
}

/* line 60, ../../sass/components/buttons.scss */
.lacuna-button a {
  color: #FFFFFF;
}

/* line 64, ../../sass/components/buttons.scss */
.form-submit {
  background-color: #92a6c4;
  background-image: linear-gradient(to bottom, #92a6c4, #39404a);
}

/* line 69, ../../sass/components/buttons.scss */
.form-submit:hover,
.form-submit:focus {
  background-color: #39404a;
}

/* line 73, ../../sass/components/buttons.scss */
.view-documents #edit-reset.form-submit,
.view-your-story #edit-reset.form-submit {
  margin-top: -40px;
  margin-right: 80px;
  float: right;
}

/* line 80, ../../sass/components/buttons.scss */
#blog-node-form #edit-body-und-0-format,
#comment-form #edit-comment-body-und-0-format {
  display: none;
}

/* line 84, ../../sass/components/buttons.scss */
.publish-button {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
