/* line 3, ../../sass/components/content.scss */
.field {
  margin-bottom: 30px;
}

/* line 6, ../../sass/components/content.scss */
.field-label {
  margin-bottom: 10px;
}

/* line 9, ../../sass/components/content.scss */
.submitted {
  font-style: italic;
  font-size: 0.9em;
}

/* line 14, ../../sass/components/content.scss */
#comments {
  margin-top: 40px;
}

/* line 17, ../../sass/components/content.scss */
#comments .title {
  margin-top: 40px;
}

/* line 21, ../../sass/components/content.scss */
.node div.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 26, ../../sass/components/content.scss */
#signup {
  background-image: none;
  text-align: center;
}

/***
 * Styling for jQuery autocomplete drop-downs in Annotator window only
 * A bit fragile because it relies on the Tags autocomplete being the first
 * of those UI elements to be added to the page
 * Unsure how to add a unique id to the element that we set - MLW
 ****/
/* line 37, ../../sass/components/content.scss */
ul#ui-id-1.ui-autocomplete {
  padding-top: 50px;
}

/* line 42, ../../sass/components/content.scss */
legend span.fieldset-legend {
  font-weight: bold;
}

/* line 47, ../../sass/components/content.scss */
li.blog_usernames_blog {
  display: none !important;
}

/* line 52, ../../sass/components/content.scss */
fieldset#edit-thread-description-format {
  display: none;
}
