/* line 3, ../../sass/components/main_menu.scss */
div#block-superfish-1 {
  top: -75px;
  font-size: 1em;
  font-family: 'Carrois Gothic SC', sans-serif;
}

/* line 9, ../../sass/components/main_menu.scss */
ul.sf-main-menu {
  background-color: transparent;
}

/* line 13, ../../sass/components/main_menu.scss */
.sf-menu li.menuparent {
  background-color: transparent;
}

/* line 17, ../../sass/components/main_menu.scss */
.sf-menu li.menuparent a {
  border: none;
  background-color: transparent !important;
}

/* line 22, ../../sass/components/main_menu.scss */
.sf-menu li.menuparent ul li {
  background-color: white;
  border: 1px solid gray;
  border-bottom: 0px;
}

/* line 28, ../../sass/components/main_menu.scss */
.sf-menu li.menuparent ul li.last, .sf-menu li.menuparent ul li.firstandlast {
  border-bottom: 1px solid gray;
}

/* line 33, ../../sass/components/main_menu.scss */
a.nolink {
  text-decoration: none;
  color: black;
}
