/* line 5, ../../sass/components/menus.scss */
#block-superfish-1 {
  float: right;
  padding-right: 50px;
}

/* line 10, ../../sass/components/menus.scss */
.sf-main-menu {
  padding-bottom: 100px;
  margin-top: -80px;
}

/* Superfish dropdown menu rules */
/* line 16, ../../sass/components/menus.scss */
.sf-menu {
  font-size: 12pt;
  background-color: transparent;
}
/* line 20, ../../sass/components/menus.scss */
.sf-menu li {
  list-style-type: none;
  list-style-image: none;
  padding: 10px 15px 10px 15px;
  margin: 0px;
}
/* line 26, ../../sass/components/menus.scss */
.sf-menu .sf-depth-1.sf-no-children {
  display: none;
}
/* line 29, ../../sass/components/menus.scss */
.sf-menu li.menuparent {
  background-color: transparent;
}
/* line 31, ../../sass/components/menus.scss */
.sf-menu li.menuparent a {
  border: none;
  background-color: transparent !important;
}
/* line 36, ../../sass/components/menus.scss */
.sf-menu li.menuparent ul li {
  padding: 0px;
  background-color: white;
  border: 1px solid gray;
  border-bottom: 0px;
}
/* line 42, ../../sass/components/menus.scss */
.sf-menu li.menuparent ul li.firstandlast, .sf-menu li.menuparent ul li.last {
  border-bottom: 1px solid gray;
}
/* line 45, ../../sass/components/menus.scss */
.sf-menu li.menuparent ul li.active-trail {
  background-color: #eeeeee !important;
}

/* line 55, ../../sass/components/menus.scss */
.sf-depth-2 {
  width: 80% !important;
}

/* line 59, ../../sass/components/menus.scss */
a.nolink {
  text-decoration: none;
  color: black;
}

/* line 64, ../../sass/components/menus.scss */
ul.menu {
  list-style-type: none;
}

/* line 72, ../../sass/components/menus.scss */
ul.menu li:hover {
  cursor: pointer;
}

/* line 76, ../../sass/components/menus.scss */
ul.menu li a {
  text-decoration: none;
}

/* line 80, ../../sass/components/menus.scss */
ul.tabs.primary {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 85, ../../sass/components/menus.scss */
ul.tabs.primary li {
  float: left;
}

/* line 89, ../../sass/components/menus.scss */
ul.tabs.primary a {
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  opacity: 0.8;
  color: black;
  display: block;
  border-style: solid;
  border-bottom-color: transparent;
}

/* line 100, ../../sass/components/menus.scss */
ul.tabs.primary a.active, ul.tabs.primary a:hover {
  background-color: whitesmoke;
}
