/* line 4, ../../sass/components/menus.scss */
#block-superfish-1 {
  top: -90px;
  float: right;
}

/* line 9, ../../sass/components/menus.scss */
ul.sf-main-menu {
  font-size: 12pt;
  background-color: transparent;
}

/* line 14, ../../sass/components/menus.scss */
.sf-menu li.menuparent {
  background-color: transparent;
}

/* line 18, ../../sass/components/menus.scss */
.sf-menu li.menuparent a {
  border: none;
  background-color: transparent !important;
}

/* line 23, ../../sass/components/menus.scss */
.sf-menu li.menuparent ul li {
  background-color: white;
  border: 1px solid gray;
  border-bottom: 0px;
}

/* line 29, ../../sass/components/menus.scss */
.sf-menu li.menuparent ul li.last, .sf-menu li.menuparent ul li.firstandlast {
  border-bottom: 1px solid gray;
}

/* line 33, ../../sass/components/menus.scss */
.sf-depth-2 {
  width: 80% !important;
}

/* line 37, ../../sass/components/menus.scss */
a.nolink {
  text-decoration: none;
  color: black;
}

/* line 42, ../../sass/components/menus.scss */
ul.menu {
  list-style-type: none;
}

/* line 46, ../../sass/components/menus.scss */
ul.menu li.menuparent {
  list-style-type: none;
  list-style-image: none;
  padding: 15px 20px 15px 20px;
  font-size: 14pt;
}

/* line 53, ../../sass/components/menus.scss */
ul.menu li:hover {
  cursor: pointer;
}

/* line 57, ../../sass/components/menus.scss */
ul.menu li a {
  text-decoration: none;
}

/* line 61, ../../sass/components/menus.scss */
ul.tabs.primary {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 66, ../../sass/components/menus.scss */
ul.tabs.primary li {
  float: left;
}

/* line 70, ../../sass/components/menus.scss */
ul.tabs.primary a {
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  opacity: 0.8;
  color: black;
  display: block;
  border-style: solid;
  border-bottom-color: transparent;
}

/* line 81, ../../sass/components/menus.scss */
ul.tabs.primary a.active, ul.tabs.primary a:hover {
  background-color: whitesmoke;
}
