/* Hide "Operations" text in Sewing Kit */
/* line 2, ../../sass/components/views.scss */
legend .fieldset-legend {
  display: none;
}

/* Theme the select list for adding to a thread */
/* line 7, ../../sass/components/views.scss */
select#edit-thread-add {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}

/* The "Add to Thread" button for Sewing Kit */
/* line 18, ../../sass/components/views.scss */
#edit-actionsewing-kit-stitch {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

/* Center the "Select all" options */
/* line 27, ../../sass/components/views.scss */
.vbo-fieldset-select-all {
  margin-right: auto;
  margin-left: auto;
}

/* line 32, ../../sass/components/views.scss */
fieldset.form-wrapper {
  border: none;
}

/* line 36, ../../sass/components/views.scss */
.views-field-biblio-url {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Arrange topic view */
/* line 42, ../../sass/components/views.scss */
.view-topics .view-content div {
  height: 200px;
}

/* line 46, ../../sass/components/views.scss */
.views-row-odd span.views-field-field-image div.topic_image {
  float: left;
  padding-right: 20px;
}

/* line 51, ../../sass/components/views.scss */
div.views-row-even span.views-field-field-image div.topic_image {
  float: right;
  padding-left: 20px;
}

/* line 56, ../../sass/components/views.scss */
div.views-row-last span.views-field-field-image div.topic_image {
  float: right;
  padding-left: 20px;
}

/* line 61, ../../sass/components/views.scss */
.views-exposed-form .views-exposed-widget {
  clear: both;
  width: 100%;
}

/*.views-exposed-form .views-exposed-widget.views-reset-button {
  margin-top: 10px;
  padding-top:0px;
}*/
/* line 69, ../../sass/components/views.scss */
.views-exposed-form .views-exposed-widget label {
  min-width: 150px;
}

/* View-specific theming, for Materials, Responses, Threads */
/* line 81, ../../sass/components/views.scss */
.view-documents .views-submit-button,
.view-documents .views-widget-sort-order,
.view-responses .views-submit-button,
.view-responses .views-widget-sort-order,
.view-my-threads .views-submit-button,
.view-my-threads .views-widget-sort-order,
.view-sewing-kit .views-submit-button,
.view-sewing-kit .views-widget-sort-order {
  display: none;
}
/* line 85, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link,
.view-responses .views-widget-sort-by .form-type-bef-link,
.view-my-threads .views-widget-sort-by .form-type-bef-link,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link {
  float: left;
  margin: 0 10px 0 15px;
}
/* line 88, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link a,
.view-responses .views-widget-sort-by .form-type-bef-link a,
.view-my-threads .views-widget-sort-by .form-type-bef-link a,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link a {
  color: gray;
  font-weight: bold;
  font-size: 15px;
}
/* line 93, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link a:hover,
.view-responses .views-widget-sort-by .form-type-bef-link a:hover,
.view-my-threads .views-widget-sort-by .form-type-bef-link a:hover,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link a:hover {
  color: #1588ba;
}
/* line 97, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link.selected a,
.view-responses .views-widget-sort-by .form-type-bef-link.selected a,
.view-my-threads .views-widget-sort-by .form-type-bef-link.selected a,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link.selected a {
  color: #1588ba;
}
/* line 101, ../../sass/components/views.scss */
.view-documents img,
.view-responses img,
.view-my-threads img,
.view-sewing-kit img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 10px #888888;
}
/* line 108, ../../sass/components/views.scss */
.view-documents .views-row,
.view-responses .views-row,
.view-my-threads .views-row,
.view-sewing-kit .views-row {
  float: left;
  width: 150px;
  margin: 20px;
  height: 350px;
}
/* line 114, ../../sass/components/views.scss */
.view-documents .views-exposed-widget,
.view-responses .views-exposed-widget,
.view-my-threads .views-exposed-widget,
.view-sewing-kit .views-exposed-widget {
  margin-top: 0px;
}
/* line 118, ../../sass/components/views.scss */
.view-documents .views-exposed-widget > label,
.view-documents .form-item-sort-by > label,
.view-responses .views-exposed-widget > label,
.view-responses .form-item-sort-by > label,
.view-my-threads .views-exposed-widget > label,
.view-my-threads .form-item-sort-by > label,
.view-sewing-kit .views-exposed-widget > label,
.view-sewing-kit .form-item-sort-by > label {
  float: left;
  margin-right: 10px;
}
/* line 122, ../../sass/components/views.scss */
.view-documents .views-widget,
.view-responses .views-widget,
.view-my-threads .views-widget,
.view-sewing-kit .views-widget {
  display: inline;
}
/* line 124, ../../sass/components/views.scss */
.view-documents .views-widget input[name=field_tags_tid],
.view-responses .views-widget input[name=field_tags_tid],
.view-my-threads .views-widget input[name=field_tags_tid],
.view-sewing-kit .views-widget input[name=field_tags_tid] {
  width: 150px;
}
/* line 128, ../../sass/components/views.scss */
.view-documents .form-type-bef-checkbox,
.view-responses .form-type-bef-checkbox,
.view-my-threads .form-type-bef-checkbox,
.view-sewing-kit .form-type-bef-checkbox {
  float: left;
  margin: 0px 5px 0px 10px;
  font-size: 0.95em;
  color: grey;
}
/* line 134, ../../sass/components/views.scss */
.view-documents .view-content h3,
.view-responses .view-content h3,
.view-my-threads .view-content h3,
.view-sewing-kit .view-content h3 {
  display: inline-block;
  width: 100%;
  padding-top: 25px;
}

/* line 142, ../../sass/components/views.scss */
table.views-table {
  width: 100%;
}
