/* Hide "Operations" text in Sewing Kit */
/* line 2, ../../sass/components/views.scss */
.vbo-views-form form div fieldset.container-inline legend span.fieldset-legend {
  display: none;
}

/* Theme the select list for adding to a thread */
/* line 7, ../../sass/components/views.scss */
select#edit-thread-add {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}

/* The "Add to Thread" button for Sewing Kit */
/* line 18, ../../sass/components/views.scss */
#edit-actionsewing-kit-stitch {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

/* Center the "Select all" options */
/* line 27, ../../sass/components/views.scss */
.vbo-fieldset-select-all {
  margin-right: auto;
  margin-left: auto;
}

/* line 32, ../../sass/components/views.scss */
fieldset.form-wrapper {
  border: none;
}

/* line 36, ../../sass/components/views.scss */
.views-field-biblio-url {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Arrange topic view */
/* line 46, ../../sass/components/views.scss */
.views-row-odd span.views-field-field-image div.topic_image {
  float: left;
  padding-right: 20px;
}

/* line 51, ../../sass/components/views.scss */
div.views-row-even span.views-field-field-image div.topic_image {
  float: right;
  padding-left: 20px;
}

/* line 56, ../../sass/components/views.scss */
div.views-row-last span.views-field-field-image div.topic_image {
  float: right;
  padding-left: 20px;
}

/* line 61, ../../sass/components/views.scss */
.views-exposed-form .views-exposed-widget {
  clear: both;
  width: 100%;
}

/* line 66, ../../sass/components/views.scss */
.views-exposed-form .views-exposed-widget.views-reset-button {
  margin-top: 10px;
  padding-top: 0px;
}

/* line 71, ../../sass/components/views.scss */
.views-exposed-form .views-exposed-widget label {
  min-width: 150px;
}

/* View-specific theming, for Materials, Responses, Threads */
/* line 86, ../../sass/components/views.scss */
.view-documents .views-submit-button,
.view-documents .views-widget-sort-order,
.view-responses .views-submit-button,
.view-responses .views-widget-sort-order,
.view-my-threads .views-submit-button,
.view-my-threads .views-widget-sort-order,
.view-sewing-kit .views-submit-button,
.view-sewing-kit .views-widget-sort-order,
.view-my-content .views-submit-button,
.view-my-content .views-widget-sort-order,
.view-all-content .views-submit-button,
.view-all-content .views-widget-sort-order,
.view-all-annotations .views-submit-button,
.view-all-annotations .views-widget-sort-order {
  display: none;
}
/* line 91, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link,
.view-responses .views-widget-sort-by .form-type-bef-link,
.view-my-threads .views-widget-sort-by .form-type-bef-link,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link,
.view-my-content .views-widget-sort-by .form-type-bef-link,
.view-all-content .views-widget-sort-by .form-type-bef-link,
.view-all-annotations .views-widget-sort-by .form-type-bef-link {
  float: left;
  margin: 0 10px 0 15px;
}
/* line 94, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link a,
.view-responses .views-widget-sort-by .form-type-bef-link a,
.view-my-threads .views-widget-sort-by .form-type-bef-link a,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link a,
.view-my-content .views-widget-sort-by .form-type-bef-link a,
.view-all-content .views-widget-sort-by .form-type-bef-link a,
.view-all-annotations .views-widget-sort-by .form-type-bef-link a {
  color: #808080;
  font-weight: bold;
  font-size: 15px;
}
/* line 99, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link a:hover,
.view-responses .views-widget-sort-by .form-type-bef-link a:hover,
.view-my-threads .views-widget-sort-by .form-type-bef-link a:hover,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link a:hover,
.view-my-content .views-widget-sort-by .form-type-bef-link a:hover,
.view-all-content .views-widget-sort-by .form-type-bef-link a:hover,
.view-all-annotations .views-widget-sort-by .form-type-bef-link a:hover {
  color: #1588BA;
}
/* line 103, ../../sass/components/views.scss */
.view-documents .views-widget-sort-by .form-type-bef-link.selected a,
.view-responses .views-widget-sort-by .form-type-bef-link.selected a,
.view-my-threads .views-widget-sort-by .form-type-bef-link.selected a,
.view-sewing-kit .views-widget-sort-by .form-type-bef-link.selected a,
.view-my-content .views-widget-sort-by .form-type-bef-link.selected a,
.view-all-content .views-widget-sort-by .form-type-bef-link.selected a,
.view-all-annotations .views-widget-sort-by .form-type-bef-link.selected a {
  color: #1588BA;
}
/* line 107, ../../sass/components/views.scss */
.view-documents img,
.view-responses img,
.view-my-threads img,
.view-sewing-kit img,
.view-my-content img,
.view-all-content img,
.view-all-annotations img {
  width: 100%;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 10px #888888;
  z-index: -1;
}
/* line 116, ../../sass/components/views.scss */
.view-documents .views-row,
.view-responses .views-row,
.view-my-threads .views-row,
.view-sewing-kit .views-row,
.view-my-content .views-row,
.view-all-content .views-row,
.view-all-annotations .views-row {
  position: relative;
  float: left;
  width: 320px;
  border: 10px;
  margin: 20px 20px 65px 20px;
  height: 350px;
}
/* line 124, ../../sass/components/views.scss */
.view-documents .views-row span.text-content,
.view-responses .views-row span.text-content,
.view-my-threads .views-row span.text-content,
.view-sewing-kit .views-row span.text-content,
.view-my-content .views-row span.text-content,
.view-all-content .views-row span.text-content,
.view-all-annotations .views-row span.text-content {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 200px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
/* line 138, ../../sass/components/views.scss */
.view-documents .views-row .views-field-title,
.view-documents .views-row .views-field-field-display-name,
.view-documents .views-row .views-field-created,
.view-documents .views-row .views-field-comment-count,
.view-responses .views-row .views-field-title,
.view-responses .views-row .views-field-field-display-name,
.view-responses .views-row .views-field-created,
.view-responses .views-row .views-field-comment-count,
.view-my-threads .views-row .views-field-title,
.view-my-threads .views-row .views-field-field-display-name,
.view-my-threads .views-row .views-field-created,
.view-my-threads .views-row .views-field-comment-count,
.view-sewing-kit .views-row .views-field-title,
.view-sewing-kit .views-row .views-field-field-display-name,
.view-sewing-kit .views-row .views-field-created,
.view-sewing-kit .views-row .views-field-comment-count,
.view-my-content .views-row .views-field-title,
.view-my-content .views-row .views-field-field-display-name,
.view-my-content .views-row .views-field-created,
.view-my-content .views-row .views-field-comment-count,
.view-all-content .views-row .views-field-title,
.view-all-content .views-row .views-field-field-display-name,
.view-all-content .views-row .views-field-created,
.view-all-content .views-row .views-field-comment-count,
.view-all-annotations .views-row .views-field-title,
.view-all-annotations .views-row .views-field-field-display-name,
.view-all-annotations .views-row .views-field-created,
.view-all-annotations .views-row .views-field-comment-count {
  position: relative;
  left: 0px;
  top: -220px;
  opacity: 0;
}
/* line 150, ../../sass/components/views.scss */
.view-documents .views-row:hover .views-field-title,
.view-documents .views-row:hover .views-field-field-display-name,
.view-documents .views-row:hover .views-field-created,
.view-documents .views-row:hover .views-field-comment-count,
.view-responses .views-row:hover .views-field-title,
.view-responses .views-row:hover .views-field-field-display-name,
.view-responses .views-row:hover .views-field-created,
.view-responses .views-row:hover .views-field-comment-count,
.view-my-threads .views-row:hover .views-field-title,
.view-my-threads .views-row:hover .views-field-field-display-name,
.view-my-threads .views-row:hover .views-field-created,
.view-my-threads .views-row:hover .views-field-comment-count,
.view-sewing-kit .views-row:hover .views-field-title,
.view-sewing-kit .views-row:hover .views-field-field-display-name,
.view-sewing-kit .views-row:hover .views-field-created,
.view-sewing-kit .views-row:hover .views-field-comment-count,
.view-my-content .views-row:hover .views-field-title,
.view-my-content .views-row:hover .views-field-field-display-name,
.view-my-content .views-row:hover .views-field-created,
.view-my-content .views-row:hover .views-field-comment-count,
.view-all-content .views-row:hover .views-field-title,
.view-all-content .views-row:hover .views-field-field-display-name,
.view-all-content .views-row:hover .views-field-created,
.view-all-content .views-row:hover .views-field-comment-count,
.view-all-annotations .views-row:hover .views-field-title,
.view-all-annotations .views-row:hover .views-field-field-display-name,
.view-all-annotations .views-row:hover .views-field-created,
.view-all-annotations .views-row:hover .views-field-comment-count {
  opacity: 1;
  color: white;
}
/* line 157, ../../sass/components/views.scss */
.view-documents .views-row:hover .views-field-field-image span.text-content,
.view-responses .views-row:hover .views-field-field-image span.text-content,
.view-my-threads .views-row:hover .views-field-field-image span.text-content,
.view-sewing-kit .views-row:hover .views-field-field-image span.text-content,
.view-my-content .views-row:hover .views-field-field-image span.text-content,
.view-all-content .views-row:hover .views-field-field-image span.text-content,
.view-all-annotations .views-row:hover .views-field-field-image span.text-content {
  opacity: 1;
}
/* line 162, ../../sass/components/views.scss */
.view-documents .views-exposed-widget,
.view-responses .views-exposed-widget,
.view-my-threads .views-exposed-widget,
.view-sewing-kit .views-exposed-widget,
.view-my-content .views-exposed-widget,
.view-all-content .views-exposed-widget,
.view-all-annotations .views-exposed-widget {
  margin-top: 0px;
}
/* line 165, ../../sass/components/views.scss */
.view-documents .views-exposed-widget > label,
.view-documents .form-item-sort-by > label,
.view-responses .views-exposed-widget > label,
.view-responses .form-item-sort-by > label,
.view-my-threads .views-exposed-widget > label,
.view-my-threads .form-item-sort-by > label,
.view-sewing-kit .views-exposed-widget > label,
.view-sewing-kit .form-item-sort-by > label,
.view-my-content .views-exposed-widget > label,
.view-my-content .form-item-sort-by > label,
.view-all-content .views-exposed-widget > label,
.view-all-content .form-item-sort-by > label,
.view-all-annotations .views-exposed-widget > label,
.view-all-annotations .form-item-sort-by > label {
  float: left;
  margin-right: 10px;
}
/* line 170, ../../sass/components/views.scss */
.view-documents .views-widget,
.view-responses .views-widget,
.view-my-threads .views-widget,
.view-sewing-kit .views-widget,
.view-my-content .views-widget,
.view-all-content .views-widget,
.view-all-annotations .views-widget {
  display: inline;
}
/* line 172, ../../sass/components/views.scss */
.view-documents .views-widget input[type=text],
.view-responses .views-widget input[type=text],
.view-my-threads .views-widget input[type=text],
.view-sewing-kit .views-widget input[type=text],
.view-my-content .views-widget input[type=text],
.view-all-content .views-widget input[type=text],
.view-all-annotations .views-widget input[type=text] {
  width: 20%;
}
/* line 176, ../../sass/components/views.scss */
.view-documents .form-type-bef-checkbox,
.view-responses .form-type-bef-checkbox,
.view-my-threads .form-type-bef-checkbox,
.view-sewing-kit .form-type-bef-checkbox,
.view-my-content .form-type-bef-checkbox,
.view-all-content .form-type-bef-checkbox,
.view-all-annotations .form-type-bef-checkbox {
  float: left;
  margin: 0px 5px 0px 10px;
  font-size: 0.95em;
  color: grey;
}

/* line 184, ../../sass/components/views.scss */
table.views-table {
  width: 100%;
}

/* line 188, ../../sass/components/views.scss */
.views-table tr {
  text-align: left;
}

/* line 194, ../../sass/components/views.scss */
.view-sewing-kit th.views-field-category,
.view-sewing-kit th.views-field-text,
.view-sewing-kit th.views-field-quote,
.view-sewing-kit th.view-field-tags,
.view-stitchings th.views-field-category,
.view-stitchings th.views-field-text,
.view-stitchings th.views-field-quote,
.view-stitchings th.view-field-tags {
  text-align: center;
}
/* line 200, ../../sass/components/views.scss */
.view-sewing-kit th,
.view-stitchings th {
  width: 2%;
  max-width: 5%;
}
/* line 204, ../../sass/components/views.scss */
.view-sewing-kit th.views-field-text,
.view-sewing-kit th.views-field-quote,
.view-stitchings th.views-field-text,
.view-stitchings th.views-field-quote {
  width: 10% !important;
  min-width: 100px;
}
/* line 209, ../../sass/components/views.scss */
.view-sewing-kit th.views-field-views-bulk-operations,
.view-sewing-kit th.views-field-nothing,
.view-stitchings th.views-field-views-bulk-operations,
.view-stitchings th.views-field-nothing {
  width: 1% !important;
}
/* line 213, ../../sass/components/views.scss */
.view-sewing-kit td.views-field-category,
.view-stitchings td.views-field-category {
  text-align: center;
}
